[2022-04-27 18:51] twsouthwick opened #2 "Add library to simplify using Owin pipeline in ASP.NET"
For example: https://github.com/danroth27/AspNetWebApiCore/blob/main/OwinApplicationBuilderExtensions.cs

Related issue: https://github.com/dotnet/AspNetCore.Docs/issues/25664

[2022-05-04 20:40] twsouthwick opened #7 "Identify developer experience and tooling needs for v1"

[2022-05-04 20:41] twsouthwick opened #8 "Release: Blog/Announcement"
- [x] Map to aka.ms/AspNetCoreMigration (showcased in the build info)
- [x] Blog to show use case

[2022-05-04 20:44] twsouthwick opened #9 "Release: end-to-end guide in docs site for how to get started"
Include in docs:

- Security concerns around exposing the endpoint for remote session
  - Communication should be locked down (i.e. SSL)
  - Potentially long lived requests between core and framework apps
- Some unsupported APIs:
  - Thread.CurrentPrincipal
  - CultureInfo.Current
- Known behavior differences:
  - There was a concept around a request thread in ASP.NET  - core does not have this an

[2022-05-11 20:50] mjrousos opened #14 "Auth: Share cookies between Framework and Core apps"

[2022-05-11 20:52] mjrousos opened #15 "Auth: Cookie auth"

[2022-05-17 16:01] twsouthwick opened #23 "Transition from web.config to appsettings"
When migrating to core, configuration is drastically different. In framework, people would often use web.config as the source of configuration, but in core, the source of configuration is composed from many sources. Out of the box, core will read from environment variables, appsettings.json, and command line. Additional sources are available from NuGet as well.

During a migration, with a framewor

[2022-05-17 16:42] mjrousos commented on #14
Related abandoned draft PR: #18

[2022-05-17 16:48] mjrousos opened #24 "Allow ASP.NET Core session APIs to be used with remote session state"
Once users have moved some code from their ASP.NET app to the ASP.NET Core one, it may be valuable, as a next step, to be able to update that code to use "real" ASP.NET Core APIs instead of adapters.

In order to enable that, it may be useful to have `ISessionStore` and `ISession` implementations that allow ASP.NET Core session APIs to be used while still storing session items in remote session st

[2022-05-17 18:15] twsouthwick opened #26 "Consider supporting cache dependencies"
Currently the Cache implementation exposes `CacheDepenendency` but cannot be constructed or used at the moment. This was used in framework to tie a cache entry to be updated/removed when some dependency changed. The default implementation watched for changes in files/directories. See https://docs.microsoft.com/en-us/dotnet/api/system.web.caching.cachedependency for details

[2022-05-20 10:51] martincostello opened #30 "MvcCoreApp does not compile"
Building the repo locally, the `MvcCoreApp` project fails to compile if `Yarp.ReverseProxy` 1.1.0 is not already in the user's local NuGet package cache.

It appears that the package is not available in any of the configured NuGet package sources in AzDo.

https://github.com/dotnet/systemweb-adapters/blob/8d6c13dcd8dc16f16c3bd9a65e8a94c7f2ed5541/NuGet.config#L4-L9

Manually adding the package sour

[2022-05-20 15:44] twsouthwick commented on #30
@Tratcher is there a feed we should be including? I saw this when it first got updated to 1.1.0, but then went away. I figured it had been added to one of these feeds, but apparently not.

[2022-05-20 16:06] twsouthwick opened #32 "Error reporting when serialization an unknown session key"
## Summary

When serializing session, we require keys to be registered with the type they represent. However, people will probably not know the keys they have and will need a way to identify that. The simplest would be to turn on some messaging around keys that aren't registered. This issue is to decide on how we want to do that.

This will focus on the scenario where we have remote app session st

[2022-05-20 16:20] mjrousos commented on #32
I prefer defaulting to failing in because I think it will be an easy mistake to make and failing the request with a good error message is probably the surest way to make sure users know they've done something wrong (and what they need to do about it).

That said, I also like the idea of making this configurable since there could be scenarios where users know that the server session state has a lot

[2022-05-20 17:25] Tratcher commented on #30
It should now be added to the dotnet-public feed. Try it and let us know.

[2022-05-20 21:14] #9 closed

[2022-05-20 21:14] #7 closed, assigned to twsouthwick

[2022-05-20 21:30] twsouthwick opened #33 "Complete NuGet package description/tags/etc"

[2022-05-20 21:34] danroth27 commented on #33
Suggested package description:

A collection of adapters that help with migrating from System.Web.dll based ASP.NET projects to ASP.NET Core projects by providing implementations of common System.Web APIs for use in ASP.NET Core apps.

[2022-05-20 21:37] danroth27 opened #35 "Consider dropping .NET Core 3.1 support"
The adapter library currently supports targeting .NET Core 3.1. We should consider dropping support for .NET Core 3.1 since it will no longer be supported by the time we expect to ship a stable release.

[2022-05-21 08:02] martincostello commented on #30
Cleared my local package cache, and confirmed that `dotnet restore` works as expected.

[2022-05-21 08:02] #30 closed

[2022-05-24 19:51] wallym opened #42 "webforms migration"
I've got an asp .net webforms app.  There are probably 40 webforms pages, but only a couple of really big webforms pages.  The app uses ado.net datasets/datatables for database access to sql server and a little bit to mysql.  The app pretty much uses simple stuff in webforms, but does use the updatepanel/updateprogress, but nothing from the ajax control toolkit.  I use some basic session state, bu

[2022-05-24 19:52] wallym commented on #42
And if there is a better place to ask questions about migration, just point me to that.

[2022-05-24 22:43] #35 closed

[2022-05-25 18:31] twsouthwick commented on #42
@wallym Thanks for the issue. The general idea this project is proposing was actually initially developed with Webforms in mind as well. The pattern we're pushing for migration is to identify what a *route* is for a given technology; for WebForms, it is most likely a page. So, given that, you should be able to migrate a page at a time.

The target technology isn't as straightforward as MVC, but we

[2022-05-25 18:35] #32 closed

[2022-05-25 19:41] twsouthwick opened #47 "Instrument adapters to identify usage in apps"
## Summary

By instrumenting the adapters users can identify what the adapter usage looks like in their application given their actual loads.

## Motivation and goals

Once a user has migrated their project to ASP.NET Core but is still using the adapters, it would be nice to understand how much of the adapters are being used and what the cost will look like to migrate off of them. By instrumenting

[2022-05-26 07:15] slipgateio opened #48 "Migration Fails - System.TypeLoadException: Could not load type 'Microsoft.WebTools.Shared.FeatureDetection.FeatureContext' from assembly 'Microsoft.WebTools.Shared"
Hey guys,

The migration seems to be failing via the extension.

System.TypeLoadException: Could not load type 'Microsoft.WebTools.Shared.FeatureDetection.FeatureContext' from assembly 'Microsoft.WebTools.Shared, Version=17.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

![image](https://user-images.githubusercontent.com/46474465/170436833-cf1fb23d-5379-4cb2-9eb2-2a05fff802ee.png)

[2022-05-26 07:17] slipgateio commented on #48
Also wanted to say, I am very happy you guys are working on this.

We've been looking at the migration for a long time, even though we have a very modern WebForms app, we've wanted a pathway to .NET 6+.

So thanks for doing this.

[2022-05-26 08:28] stefangevaert commented on #48
Just installed the extension, and having the same issue.

[2022-05-26 16:53] twsouthwick commented on #48
Thanks for the feedback. An update will be pushed out soon that should fix this

[2022-05-26 17:23] twsouthwick opened #50 "Simplify registration of remote app urls"
For things like remote app session, we require setting up the remote app. This is currently being done by digging into the same config value that YARP is using:

[code]

This looks a little ugly - can we refine this at all?

[2022-05-27 21:37] danroth27 opened #53 "Add support for migrating using Blazor"
[Cocoon](https://github.com/VisualReCode/Cocoon) Offers support for migrating ASP.NET projects using Blazor. This is appealing for ASP.NET Web Form developers that are used to a component-based event-driven programming model.

Cocoon does some clever things to enable migration with Blazor using the strangler-fig pattern, like collecting the routable components in the app so that the fallback to th

[2022-05-29 00:13] danroth27 opened #54 "Adding an ASP.NET Core migration project should not disrupt the existing ASP.NET app"
Currently, when you run the migration tool to add an ASP.NET Core project, the ASP.NET Core project contains routes that most likely disrupt existing routes in the ASP.NET app (like "/"). For example, if you start with a default ASP.NET MVC app and then run the migration tool, the app is now appears replaced by the ASP.NET Core app when you run it. Ideally, after running the migration tool the app

[2022-05-29 00:23] danroth27 commented on #54
@abpiskunov @sayedihashimi

[2022-05-29 00:36] danroth27 opened #55 "Migration tool doesn't save changes to ASP.NET Core project file that add the adapter libraries"
When you run the migration tool on an ASP.NET project it creates a new ASP.NET Core project and then adds the adapter libraries and YARP packages to that project. However, the changes to the ASP.NET Core project file to add the package references aren't saved to disk.

Repro steps:
- Create a new ASP.NET MVC project
- Run "Migrate project" on the ASP.NET project
- Open the generated ASP.NET Core p

[2022-05-30 04:56] slipgateio commented on #48
Working now! Thanks!

[2022-05-30 04:56] #48 closed

[2022-05-30 05:01] slipgateio commented on #53
I'd like to see Blazor added as well.

[2022-05-30 05:04] slipgateio commented on #42
I can confirm WebForms works, I've only had time to do some extremely limited testing, but I ran the migration on my WebForms app, migration completed, I was able to run the .NET Core MVC project, then navigate to my WebForms login page.

[2022-05-30 05:34] davidfowl commented on #42
@wallym Nothing in this repo helps you migrate your webforms app to ASP.NET Core. It lets you add new pages or migrated existing sections of your site to ASP.NET Core incrementally. Migrating the webforms content itself, the most logical choice would be to move to something like Razor Pages. You still still need to do all the hard work to move away from the update panel, view state, webcontrols et

[2022-05-30 05:35] davidfowl commented on #50
Also RemoteApp and ApiKey exist on both session and auth, maybe those should be consolidated?

[2022-05-31 17:06] twsouthwick commented on #50
I believe @mjrousos is handling that as part of his auth implementation.

[2022-05-31 17:17] mjrousos commented on #50
Sort of. This is a tricky one because on the one hand it feels really weird to set these same values multiple times but, on the other hand, it also feels weird to configure things like ApiKey and RemoteAppUrl in core SystemWebAdapter configuration when those values aren't actually needed there (they're only needed for additional features like session sharing or auth sharing that users can opt into

[2022-05-31 17:45] twsouthwick commented on #50
What about keeping it separate, but as a general remote app:

[code]

And that would get plumbed through as an `IOptions<RemoteAppOptions>`:

[code]

We could potentially use named options to disambiguate if people want multiple, but I don't see that as a required scenario at the moment.

[2022-05-31 21:59] twsouthwick opened #56 "Consider adding MS.Extensions.DependencyInjection and MS.Extensions.Options for framework adapters"
## Summary

We should add the Microsoft.Extensions.DependencyInjection and Microsoft.Extensions.Options packages to the framework app so that configuration between the two apps can be similar.

## Motivation and goals

There's currently two separate mechanisms for configuring the core app and the framework app. The core app uses the standard dependency injection patterns as the rest of ASP.NET Cor

[2022-06-01 03:42] birojnayak commented on #42
@davidfowl @twsouthwick I started reading this project thinking that it provides porting for Webform(aspx/aspx.cs) => to Aspnet.core or at least enable it to run in aspnet.core(with no platform incompatibility and no mono route)...  I assume this is not, it's mostly the routing and http context ? Please clarify if my understanding is incorrect and if there is route for above..

[2022-06-01 04:06] davidfowl commented on #42
@birojnayak no, this project does not do that. There's no migration path to webforms on .NET Core/6+ as described here https://github.com/dotnet/systemweb-adapters/issues/42#issuecomment-1140717966.

These adapters are to enable code sharing logic that uses `System.Web.HttpContext`. Hopefully this [blog post](https://devblogs.microsoft.com/dotnet/incremental-asp-net-to-asp-net-core-migration/) giv

[2022-06-01 04:55] birojnayak commented on #42
@davidfowl yeah I assumed that.. if there is an opportunity for web forms which can ported as is(like WCF=>CoreWCF) we would be happy to help.. as there is no direct path other than re-write, which many times not an option for our customers...

[2022-06-01 05:21] davidfowl commented on #42
Good to know. Unfortunately because WebForms is to intertwined with IIS and the CLR hosting APIs making something like CoreWCF would be highly incompatible and we have no plans to move it forward as a technology outside of the existing windows .NET Framework environment.

[2022-06-01 05:56] conficient commented on #42
I'm using the [Cocoon](https://github.com/VisualReCode/Cocoon) project to port a WebForms app; it operates in a similar way to this app, except it supports Blazor, which is the most natural migration path for a WebForm user. This project will hopefully support Blazor soon.

It won't convert any pages, but the Blazor component model is very similar to WebForms and you'll find migration to that mode

[2022-06-01 12:13] TPIvan opened #57 "Is not JSON serialization of the session state to limiting?"
When ASP.NET session is using out of process storage the binary serialization is used as far as I know. I understand that binary serialization is very picky but with JSON serialization I am concerned about preserving internal state without any public representation.

I have done a test with [System.Web.Script.Serialization.JavaScriptSerializer](https://docs.microsoft.com/en-us/dotnet/api/system.we

[2022-06-01 15:07] twsouthwick commented on #57
Yup - I have a pr (#51) that will allow you to control the serialization of a key on a much more granular level. That way, you can identify the best serialization technology you want to use.

The binary formatter used in framework is being deprecated in ASP.NET Core (https://docs.microsoft.com/en-us/dotnet/core/compatibility/core-libraries/5.0/binaryformatter-serialization-obsolete), so a differen

[2022-06-03 16:47] abpiskunov commented on #54
Fixed in recent vsix PR.

[2022-06-03 16:47] #54 closed

[2022-06-03 16:47] abpiskunov commented on #55
Fixed in recent vsix PR.

[2022-06-03 16:47] #55 closed

[2022-06-03 16:47] abpiskunov commented on #55
Fixed in recent vsix PR.

[2022-06-03 20:35] twsouthwick opened #60 "Serialize session state directly to a custom HttpContent"
Perf: At some point we'll want to avoid creating this MemoryStream and buffering everything. Instead we'd create a custom HttpContent and serialized directly to the output stream.

_Originally posted by @Tratcher in https://github.com/dotnet/systemweb-adapters/pull/51#discussion_r889190706_

[2022-06-03 21:04] #33 closed

[2022-06-03 21:25] twsouthwick commented on #57
@TPIvan You can now customize it however you want with `ISessionKeySerializer`. We're still providing a default json one, but this will be the extensibility point you'll want to look at. If you have types that require special knowledge to serialize/deserialize, you'll have to manage that there.

[2022-06-03 21:25] #57 closed

[2022-06-05 20:12] davidfowl commented on #42
@birojnayak Turns out this company has a webforms port on top of ASP.NET Core https://devblogs.microsoft.com/dotnet/incremental-asp-net-to-asp-net-core-migration/#comment-15756. That's worth a follow up.

[2022-06-06 18:57] gumbarros opened #62 "Response.end exception"
### Describe the bug
Response.End causes a exception the the application.

### To Reproduce
[code]
### Exceptions (if any)
[code]
### Further technical details

Please include the following if applicable:
*ASP.NET Core Application*:
- Targeted .NET version:  6.0
- .NET SDK version: 6.0

[2022-06-06 20:13] #60 closed

[2022-06-08 18:22] twsouthwick opened #64 "Add support for HttpCookie.Shareable"
When constructing `HttpCookie`, the property `Shareable` is used to define whether something should be cached or not.  See https://referencesource.microsoft.com/#System.Web/HttpResponse.cs,ef49eacf1b7af1f6 for how it was used in ASP.NET.

[2022-06-08 20:33] #15 closed

[2022-06-09 08:56] jbennink commented on #42
Update: A fresh webforms app does work as shown in the video and as confirmed by @slipgateio so I will have to dig deeper into my problem.

[2022-06-09 09:01] slipgate-io opened #65 "Document how to deploy while migrating"
Hey all,

A question - how do I actually deploy this to something like Azure App Services. Do I need 2 web apps? I am guessing I can't just run a .NET6 app and its all going to work?

[2022-06-09 09:22] jbennink commented on #42
Update2: However switching to my project and back it did not work. And now in VS2022 Preview I don't see the Migration optiion. It's not under Installed extensions, but when I check online it does have a green check :-| preview bits...
I also have the regular VS2022 Community and had installed it there too. It does show under installed there but still the project does not give me the Project Migra

[2022-06-09 09:49] LodewijkSioen opened #66 "Virtual Application and Redirects"
### Describe the bug
Our application is installed on-premise in various locations. On some places the application is hosted in the root of an IIS Website and in other places it is an Application under the root. Our migration path using this project would be to do the switcheroo: the current application would be moved to a new WebSite and the new Core application would take it's original place so t

[2022-06-09 09:59] jbennink commented on #42
Update3: Not sure whether this is the place to post this BUT:

A migrated a new clean project again and everything works fine. Multiple starts.

*BUT*

When I mark the old Webforms project as startup project in visual studio, then starting with F5 does not bootstrap the Core project anymore and simply starts my old net48 webforms project.

I was baffled at first until I realised the extension set

[2022-06-09 11:11] jbennink commented on #42
Update4: A bit ashamed. After going back to my solution the problems seems to have been that I was not launching multiple projects 👎 So it's working for my webforms as well...with an empty net6.0 project. Now the conversion work can start :-)

[2022-06-09 14:01] jbennink opened #67 "An unhandled exception occurred while processing the request"
### Describe the bug
When using Sessionstate I get the above error injected into the page where I access a session variable. It seems to go away when I don't use the sessionstate, remove the [Session] attribute from the controller for that page (and the nobviously session values are not available)

### To Reproduce
Just start the the app and go to a page that has [Session] added to the controller.

[2022-06-09 18:26] twsouthwick commented on #67
We haven't seen that on IISExpress (we use that for testing) before. It's interesting that it looks like it is able to retrieve it and is failing when committing.  I've cloned your repro and see the same issue. I'll take a look and update when I figure out what the issue is

[2022-06-09 18:32] twsouthwick opened #69 "Consider supporting APIs for HttpBrowserCapabilities"
## Summary

HttpBrowserCapabilities is a common set of APIs that users use to interrogate info about a client. We probably don't want to support the full API set, but should identify the low hanging fruit (such as Browser, Version, etc) that are most common in code bases.

## In scope

- TBD

## Out of scope

We probably don't want to bring in the whole provider system that System.Web had, but hav

[2022-06-09 18:38] twsouthwick commented on #65
Yes, you'd need to web apps (but could use the same app service). Each app would be deployed separately and could be versioned separately as needed - it's effectively a 2-service microservice at this point.

We'll be updating the docs to describe deployment at some point before preview.

[2022-06-09 18:39] twsouthwick commented on #66
@LodewijkSioen thanks for the bug. Can you provide the actual code you're using? There's potentially a few ways to initiate the flow you're describing. A minimum viable repro here would be helpful.

[2022-06-09 18:43] #64 closed

[2022-06-10 07:14] LodewijkSioen commented on #66
I was actually busy creating one when something came up at work. I just pushed it here: https://github.com/LodewijkSioen/SystemWebAdaptersRedirect/

[2022-06-10 17:35] #8 closed

[2022-06-10 21:42] twsouthwick commented on #67
I've tracked it down to needing the following handlers set:

[code]

This is added by the MVC templates, but I'm not sure exactly what it does. We can update the nuget package to add this if needed, but I'd like to understand why.

@Tratcher @davidfowl  any thoughts here?

[2022-06-10 22:44] birojnayak commented on #42
@davidfowl have you folks initiated the discussion loop me in biroj@ else let me know I would be happy to initiate the discussion...

[2022-06-12 20:40] albertkohl-monotek commented on #65
i'd be interested in this too. we got the app working in visual studio for debug, but we need to deploy to an iis box.
i got both site working by themselves, i just cant figure out how to get the core site to route requests to the asp.net site.

any guidance or docs would be appreciated!

[2022-06-13 20:03] twsouthwick commented on #66
@LodewijkSioen VirtualDirectories add in extra complexity. The challenge is that on the framework app, they are tightly integrated in with IIS and affect a lot of things like route generation/navigation/etc. Trying to override it in anyway causes problems. There is a workaround for this specific case (rewrite the Location header on the core app), but the central issue here is the difference in vir

[2022-06-14 13:15] LodewijkSioen commented on #66
Deploy to different sites but the same Virtual Directory is certainly possible. Just tested it and it works. This is probably the simplest solution, but just for completeness, could you share how the workaround with the Location header rewrite would look like?

[2022-06-15 00:28] danroth27 opened #71 "Add incremental upgrade support for WCF"
Migrating from WCF to Core WCF has many similarities to upgrading from ASP.NET to ASP.NET Core.  WCF is often hosted in ASP.NET and often uses HTTP as the transport (although it can do TCP and other transports as well). For an HTTP based WCF service, you could
incrementally migrate by setting up an ASP.NET Core project with the same YARP based fallback that we already have. The tooling could setup

[2022-06-16 12:39] TheJayMann opened #72 "A 407 Proxy Authentication Required when using remote authentication"
### Describe the bug
When using the remote authentication which was included in a recent update, after the authentication is complete, when the `/systemweb-adapters/authenticate` endpoint is loaded, an IIS HTTP 407.0 Proxy Authentication Required page is displayed.  After this error page is loaded, any attempt to go to any URL, whether it ends up loading the new ASP.NET Core application, or if it

[2022-06-16 21:21] Tratcher commented on #67
I recall it has something to do with converting `/foo` to `/foo.aspx` before routing kicks in. What route is the session client requesting, and what's actually registered in the destination app?

[2022-06-16 21:59] twsouthwick commented on #67
The default path is `/systemweb-adapters/session`. A `GET` works just fine, but the `PUT` fails without that handler

[2022-06-16 22:07] mjrousos commented on #50
I like that option. It's not that different from just setting those options in SystemWebAdapters options directly, but it seems good to have remote app stuff separated out to keep things clear. I'll update things to work this way.

[2022-06-22 21:54] mjrousos commented on #72
Thanks for reporting this, @TheJayMann. It looks like the shared auth support isn't working quite right with WS-Fed auth. `/systemweb-adapters/authenticate` is the endpoint that serves authentication information from the ASP.NET app (the ASP.NET Core app will call it from its remote app auth handler) but users shouldn't be re-directed back to that URL (since, as you've discovered, it will fail wit

[2022-06-23 21:04] mjrousos commented on #72
It looks like OIDC cookie scenarios (like using AAD B2C from an MVC app) has a similar problem, which is nice since that's an easier scenario to repro (no need to set up an STS). It seems the common thing that doesn't work well is the flow of the ASP.NET app having to redirect to an external site for authentication and then handle a redirect when auth is complete. I'll work on getting a fix togeth

[2022-06-24 15:18] mjrousos opened #75 "Logging out from ASP.NET Core app using ASP.NET Identity with remote app auth doesn't work"
Using remote app auth to share identity between an ASP.NET and ASP.NET Core app during incremental migration works for solutions using ASP.NET Identity for auth except for attempting to logout from an ASP.NET Core-served page.

The problem is that logging out in MVC apps using Identity is usually done via a form post to a logout endpoint. But when the logout form comes from the ASP.NET Core app an

[2022-06-24 21:57] Michelh91 commented on #53
Yeah would be amazing if support to Blazor is added, fallback to page components not working now

[2022-06-24 22:45] Michelh91 commented on #42
Do you have any sample using Cocoon to reverse proxy between webforms and blazor?

Having a hard time figuring out how to implement that solution

[2022-06-25 17:21] tbertenshaw opened #77 "The controller for path '/systemweb-adapters/authenticate' was not found or does not implement IController"
Using [the blog post](https://devblogs.microsoft.com/dotnet/incremental-asp-net-migration-tooling-preview-2/) i was able to successfully get the authentication working on brand new sample app.

However when i tried to plug it into my legacy aspnet framework mvc app i got the following error, from the .Net core app.

[code]

I have found the following in the debug output of the .NET Framework app

[2022-06-27 16:17] conficient commented on #42
@Michelh91 I use the techniques documented in the [Cocoon repository documentation](https://github.com/VisualReCode/Cocoon) that show how it's done. There are sample applications using a WebForms back-end [here](https://github.com/VisualReCode/Cocoon/tree/develop/samples). Mark has sample Blazor WASM and Blazor Server clients which use the `Wingtip-Toys` WebForms app as the sample site.

[2022-06-27 16:24] conficient commented on #42
@Michelh91 feel free to message me directly, or raise and issue on the Cocoon site if you're having issues with it.

[2022-06-27 21:25] Michelh91 commented on #42
Wow, didnt see the samples in Cocoon's github.

I cloned and got them working :) going to play a bit now to try to integrate my webforms app with it.

Thank you so much!

[2022-06-28 19:54] bsulliva opened #79 "YARP Proxy Not Working With IIS Express"
I'm able to load the new .net core endpoints like / and /home/privacy, but any requests back to my old .net MVC application, I'm just getting an error in the browser, "This page isn't working right now".

In the launchsettings.json I see the following. Both the old and new sites are indepentely accessible, I just can't access both sites through https://localhost:7266.
[code]

Is anything supposed

[2022-06-29 08:38] nunomiguelsilvagoncalves opened #80 "IIS + UseForwardedHeaders + System.Web.HttpContext.Current.Request.Url"
I created a brand new MVC .Net Framework App.

Then i used the Microsoft Project Migration Extension to create a new .Net Core App.

Changed the .Net Framework App to add

protected void Application_Start()
        {
...
            this.Application.AddSystemWebAdapters()
                .AddProxySupport(options =>
                {
                    options.UseForwardedHeaders = true;

[2022-06-30 01:00] CZEMacLeod opened #83 "Add AspNet Core side shim for System.Web.VirtualPathUtility"
## Summary

Add the `System.Web.VirtualPathUtility` class to systemweb adapters to allow the use from AspNet Core and class libraries whilst migrating an application.

## Motivation and goals

Within our application we make use of this class, mainly to handle dynamic paths and in areas where we need to return absolute paths regardless of the request url (e.g. in webapi call, middleware, partial vi

[2022-06-30 01:12] CZEMacLeod commented on #83
I think a lot of the implementation for this is already in `System.Web.Util.UrlPath`. It is just that that is a) not public and b) not in AspNet Core.

[2022-06-30 15:51] bsulliva commented on #79
In the VS Debugger console window, I see SSL errors when trying to do the reverse proxy. Is there a way to resolve the SSL errors?

info: Yarp.ReverseProxy.Forwarder.HttpForwarder[9]
      Proxying to https://www.mdev.com:44333/MyAccount/MLogin HTTP/2 RequestVersionOrLower no-streaming
info: Yarp.ReverseProxy.Forwarder.HttpForwarder[48]
      Request: An error was encountered before receiving a re

[2022-06-30 18:02] #69 closed

[2022-06-30 18:19] twsouthwick commented on #79
Looks like it has to do with SSL cert validation. Are you using a self-signed cert here?

@Tratcher what's the recommendation for SSL with YARP proxying?

[2022-06-30 18:37] bsulliva commented on #79
When I first did the migration and the .net core project was installed, then started debugging, it presented me with an option of using a self signed cert for the .net core piece I believe. I think I chose use the self signed cert, but I'm not sure how to bring that option to choose back up or where that option is saved.

[2022-06-30 19:00] Tratcher commented on #79
YARP is trying to proxy to `www.mdev.com` but `RemoteCertificateNameMismatch` means that IIS isn't returning a certificate that matches that host name. Can you access the site directly using that url?

If you're using IIS Express locally then its developer certificate only works for requests to `localhost`. Are you using a hosts file to remap `www.mdev.com` to a local server?

One way to work arou

[2022-06-30 19:19] bsulliva commented on #79
Yes I can pull up both the .net core site and www.mdev.com locally. Now Edge does stop the site from being pulled up and I have to manually say its ok to bypass the invalid cert for mdev.com. For debugging locally, yes we use the hosts file to map mdev.com back to localhost (127.0.0.1). I'll try out the DnagerousAcceptAnyServerCertificate option. As far as the initial prompt I saw to use the self

[2022-06-30 19:37] bsulliva commented on #79
I tried setting it to true, but getting the same error. It looks like it goes in the Clusters section?

[code]

[2022-06-30 19:40] ahazelwood opened #85 "Getting "Serialized session state has different version than expected" error when attempting to utilize Session."
### Describe the bug
I have setup my 2 projects (1 asp.net web forms app, and 1 asp.net core Razor Pages app).

When I attempt to force the usage of Session state to all pages, I get the exception noted below.

### To Reproduce

asp.net core is configured as:

[code]

asp.net web forms project is configured as:
[code]

If I do not force the Session usage, the proxying works as I would expect.  Ses

[2022-06-30 19:57] Tratcher commented on #79
IIS Express can only be used with a self-signed cert. Kestrel's dev cert can be replaced in code or via config.
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel/endpoints?view=aspnetcore-6.0

[2022-06-30 19:58] Tratcher commented on #79
Try:
[code]

[2022-06-30 20:05] bsulliva commented on #79
Thanks @Tratcher that fixed it

[2022-06-30 20:08] twsouthwick commented on #85
@ahazelwood can you verify you have preview2 installed on both? The format is different from preview1

[2022-06-30 20:10] ahazelwood commented on #85
I’m working on getting a standalone solution for this.  I should have it later on this afternoon.

Thanks.

From: Taylor Southwick ***@***.***>
Sent: Thursday, June 30, 2022 4:09 PM
To: dotnet/systemweb-adapters ***@***.***>
Cc: Andre Hazelwood ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/systemweb-adapters] Getting "Serialized session state has different version than expected" error wh

[2022-06-30 20:41] ahazelwood commented on #85
In my testbed project, it is working as expected, so there must be something else that is occurring within our existing asp.net web forms project.

I'll close for now, although some additional logging would be useful.

Thanks.

[2022-06-30 20:41] #85 closed

[2022-07-01 16:54] #79 closed

[2022-07-03 05:32] tbertenshaw commented on #77
Found and resolved the issue. For some reason installing the `SystemWebAdapters` nuget package didn't add/merge the following into the existing section in the `web.config`

[code]

[2022-07-03 05:32] #77 closed

[2022-07-03 05:35] tbertenshaw commented on #53
Would be keen to see this!. Looking to migrate a .NET MVC/WebApi/Angular/AspNet Identity app hosted in Azure app Service, to blazor web assembly running in AKS

[2022-07-05 05:41] OzBob commented on #75
This could be related to the work in this PR: https://github.com/dotnet/systemweb-adapters/pull/76

As per @twsouthwick recent [Asp.Net Community Standup on Incremental Asp.net Core migration](https://youtu.be/4ipv4Z_h_0I?t=3818) says "Recommended to set up auth on Asp.net core app directly".

'/Auth/Logout' endpoint could be your first Auth endpoint to migrate?

[2022-07-05 20:10] bsulliva commented on #75
I'm getting the same error, The required anti-forgery cookie "__RequestVerificationToken" is not present.,  for all form posts that occur on the .Net Core site. Any ideas on the issue?

[2022-07-06 14:13] jwoodcook commented on #65
#following, still following... We need to deploy to an Azure App Service and cannot find related info. Can YARP and [systemweb-adapters](https://github.com/dotnet/systemweb-adapters/) support 2 different App Services, or is there another way we should be trying?

[2022-07-06 20:38] adityamandaleeka commented on #83
Triage: This sounds reasonable. @CZEMacLeod would you be interested in contributing some/all of the implementation for this?

[2022-07-06 21:25] mjrousos commented on #75
A work-around here would be to have any sign out buttons/links from the ASP.NET Core app navigate the user to a dedicated sign out page served by the ASP.NET app. That does require changing the current app's user experience a bit, though, which isn't ideal.

To actually fix this, the most promising approach might be adding a backchannel mechanism for the ASP.NET Core app to communicate cookie sign

[2022-07-06 21:48] bsulliva opened #90 "Missing Cookies"
### Describe the bug
Numerous cookies are missing from our requests from our .net core site that proxies back to our legacy site. LIke the ASP.NET_SessionId and __RequestVerificationToken cookies. And multiple cookies we write from our site.

For most of our form posts, we are getting an error: The required anti-forgery cookie "__RequestVerificationToken" is not present.

### Further technical det

[2022-07-07 01:12] twsouthwick commented on #90
Can you describe a bit more what your setup is and what you are seeing? Ideally, a small repro would be helpful. I cannot reproduce this; i.e. the cookies show up (assuming I have accessed the backend at some point or enabled session locally). Here are the cookies I see in the samples in this project:

![image](https://user-images.githubusercontent.com/583206/177668343-ca4d33fd-ab33-4d47-abbd-0e4d

[2022-07-07 06:11] Maples7 opened #91 "Add some missing APIs for HttpContext, HttpRequest and HttpResponse"
## Summary

Most primary APIs of HttpContext, HttpRequest and HttpResponse are provided, which is fantastic! And some missing APIs could be considered to be added to make this adapter more universal.

## Motivation and goals

Some missing APIs are frequently used for .NET Framework and adding them to the adapter will make the migration smoother and more doable for large projects.

## In scope

For

[2022-07-07 18:46] bsulliva commented on #90
@twsouthwick, not sure what else you need on the setup, please let me know. But whenever I'm on the new .net core site, and hit a URL that is proxied to the old .net framework site, I'm missing cookies. If I look at the request in the browser, in dev tools, it's missing the asp.net session cookie, request verification cookie and some custom cookies we set. Now I do see on the response the .net coo

[2022-07-07 20:25] twsouthwick commented on #90
If you could provide a minimum viable repro so that I can try it out locally that would help. If that's not possible, sharing your Program.cs/Startup.cs for the core side (and any additional config you did on the Global.asax) would be a starting point.

The sample projects in the solution don't exhibit this behavior so I'm not sure what is missing.

[2022-07-07 20:49] twsouthwick commented on #91
After looking into these APIs, some are definitely doable while others are on the harder side and some others are probably not something we can really mimic.

**HttpContext**

We should probably do:

- [ ] RewritePath
- [ ] Timestamp
- [ ] IsDebuggingEnabled (probably could check if it is production or not)
- [ ] GetSection (although we'd need to explore how the configuration would be used here)

[2022-07-07 22:16] twsouthwick commented on #80
@nunomiguelsilvagoncalves I was able to reproduce it this way:

1. Set up SiteCore to be on port 80
2. Set up SiteFramework to be on port 5005 (not important)
3. Deploy sites to both of these and set up configuration
4. Accessing framework site via proxy shows it's on 5005.

Is this the set up you're seeing? This is a definitely a bug, but want to verify that it is the right issue you're seeing.

[2022-07-08 08:30] nunomiguelsilvagoncalves commented on #80
Yes.
It was something similar.
In my situation I had 2 applications inside port 80.
I realized that was the problem and created 2 sites in 2 different ports and now I am able to proceed with the migration.
thanks

From: Taylor Southwick ***@***.***>
Sent: 7 de julho de 2022 23:16
To: dotnet/systemweb-adapters ***@***.***>
Cc: Nuno Gonçalves ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/s

[2022-07-08 12:30] bsulliva commented on #90
I'll try to create a whole new solution and share the code with you. Below is my program.cs for the core side. For the global.asx, you need it from the legacy .net frameworks site?

[code]

[2022-07-08 15:38] bsulliva commented on #90
Noticing other weird things. We have CspViolationException being logged and seeing these. Probably nothing to do with why I'm not seeing cookies, but just wasn't sure what it is.

[code]

[code]

[2022-07-08 16:02] #67 closed

[2022-07-08 16:03] twsouthwick commented on #80
Great! Once this is merged in, should be fixed, then!

[2022-07-08 17:38] adityamandaleeka opened #94 "Adapters: Add Playwright tests to verify output of core and framework"

[2022-07-08 17:38] adityamandaleeka opened #95 "Adapters: Identify plan for moving off of adapters"

[2022-07-08 18:06] adityamandaleeka opened #96 "Analyzer for detecting use of Headers[int]"
If someone is using the adapters and using `Headers[int]` we should flag it and tell them to index by string. This will also be seen if you enumerate the collection.

Low priority for now since we haven't seen it in the wild.

[2022-07-08 18:09] adityamandaleeka opened #97 "Explore integration with Upgrade Assistant"
7/8 - need to define plan for what we want to do (make UA not do web? make it do the right thing and use the adapters/new proj/etc.? something else?)

[2022-07-08 18:14] adityamandaleeka commented on #91
Triage: we consider SubStatusCode to be obsolete so we wouldn't enable support for it without a strong business justification.

[2022-07-08 18:41] adityamandaleeka commented on #90
That would be great, please create the repro and share it as a Github repo.

[2022-07-08 18:52] adityamandaleeka opened #98 "Add content to official docs"
We should update the porting docs with content about this gradual migration process.

Notes:
- Probably want it to live somewhere in our porting docs here: https://learn.microsoft.com/en-us/dotnet/core/porting/
- Need to reconcile with https://learn.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/?view=aspnetcore-6.0
- Content will come from the docs we have in this repo (https://github.com

[2022-07-08 18:53] adityamandaleeka commented on #98
Should wait for API review to be done.

[2022-07-09 03:48] twsouthwick opened #99 "Handle host header if it is an IPv6 address."
This is broken if the host header is an IPv6 address.
[code]

See https://github.com/dotnet/aspnetcore/blob/0e255c5e3b86565a8d930f403de79bfc8b02cef5/src/Http/Http.Abstractions/src/HostString.cs#L160-L193

This could be addressed separately.

_Originally posted by @Tratcher in https://github.com/dotnet/systemweb-adapters/pull/92#discussion_r917152273_

[2022-07-09 03:48] #80 closed

[2022-07-10 14:36] CZEMacLeod commented on #83
@adityamandaleeka I've had a look at this and I could certainly put together something if it was based on the code / logic in the net48 `System.Web.Util.UrlPath` - but I don't believe that is under any form of open-source agreement. I guess the mono project would have a version, but again I'm not sure about the copyright for that.
I could certainly look at (re)implementing this from scratch, based

[2022-07-12 13:18] CZEMacLeod commented on #83
@adityamandaleeka Some code here https://github.com/CZEMacLeod/System.Web.VirtualPathUtility - note that this is based partially on the net48 framework `System.Web.Util.UrlPath` implementation and I'm not entirely sure what the legalities are around that code.

[2022-07-12 14:45] wgrs opened #107 "Application fails to start"
If either the core app or 4.7.2 app are set as Startup, the application fails to run. If I then rerun the migration tool, its sets neither to startup and the app runs again. I am using VS2022 latest.

[2022-07-12 14:53] #107 closed

[2022-07-12 14:54] wgrs commented on #107
I got it to run using the fallback url.

[2022-07-12 18:18] adityamandaleeka commented on #83
@CZEMacLeod, thanks for being cautious with licensing. The good news is that there's no issue from the licensing perspective to use code from the .NET Framework sources since they're under an acceptable license ([MIT](https://github.com/microsoft/referencesource/blob/master/LICENSE.txt)).

We might have to add a third-party notice entry in this repo. I'll follow up internally to take care of that.

[2022-07-12 18:32] CZEMacLeod commented on #83
@adityamandaleeka Excellent.
Well there is an initial implementation of `VirtualPathUtility` for AspNet Core in the repo I mentioned previously. I started putting together some test cases, but haven't had time to go through all permutations or functions. There is a test library (netstandard2.0) with some test calls of `ToAbsolute`, and it is consumed by an AspNet Core net6.0 project and an AspNet/

[2022-07-12 20:35] jwoodcook commented on #65
Has anyone deployed anything yet? Does anyone know where we would place the YARP config variable `ReverseProxy__Clusters__fallbackCluster__Destinations__fallbackApp__Address` in Azure deployments? I can create a separate question, if that's needed, but there seems to be NO deployment guidance at all, but I've got 2 Azure App Services all ready for this [systemweb-adapters](https://github.com/dotne

[2022-07-12 21:21] twsouthwick commented on #65
Configuration would follow the normal app service configuration pattern. Please see the documentation here https://docs.microsoft.com/en-us/azure/app-service/configure-common.

[2022-07-12 23:50] #99 closed

[2022-07-13 09:57] ladeak opened #108 "Question about migration process without strangler fig"
## Summary

I am trying to migrate an ASP.NET webapi app to ASP.NET Core webapi app. I will have 2 apps side by side, (no strangler fig, as the need for running the two apps side-by-side) but I thought using SystemWebAdapters nuget package could still help.

## Motivation and goals

I have 50 library projects stuffed with controllers. I would like to make the same controllers usable in both ASP.NE

[2022-07-13 15:27] twsouthwick commented on #108
@ladeak This project is currently focused on types in `System.Web.dll`. At this point, if you want to share controllers, multitargeting (with the `<FrameworkReference .../>`) would be the best way at the moment.

[2022-07-13 15:58] jwoodcook commented on #65
This is a typical YARP config, but Azure App Service does not seem to utilize it. Any tips on proper YARP & .NET 6 config?
[code]

[2022-07-13 17:40] mjrousos opened #109 "Enable ASP.NET Core app to share auth/identity decisions with ASP.NET app"
Current tooling allows incremental migration to share ASP.NET authentication with an ASP.NET Core app for quick startup moving endpoints.

In addition to this existing functionality, it would be useful to be able to have the ASP.NET Core authenticate users and forward identity information to the ASP.NET app (in cases where it's necessary to fall back to the ASP.NET app to handle a request). This w

[2022-07-13 18:13] ladeak commented on #108
Ah that explains why I am having trouble with types in System.Web.Http.dll. I have done a POC today, and it might be possible to pull off the same approach for System.Web.Http.dll with type forwarding as this repo shows it.

For example, I can create a type such as for ASP.NET Core in my project:

[code]

Then I can migrate controllers off System.Web.Http.dll and just use these new types for ASP.N

[2022-07-13 19:20] ladeak commented on #108
Do you have any plans to add support for System.Web.Http.dll?

[2022-07-13 20:55] adityamandaleeka commented on #108
Supporting System.Web.Http.dll isn't part of our current focus; despite the name, it's somewhat orthogonal to System.Web. We recognize that this is a potential adoption blocker so we may invest it improving this in the future.

There is some prior art from a prior attempt at migration from System.Web.Http [over in asplabs](https://github.com/aspnet/AspLabs/tree/main/src/AspNetCoreWebAPI). Perhaps

[2022-07-14 02:05] Sebbs128 commented on #95
I'm currently going through this process in one of solution's business layer (I started this process before discovering SystemWebAdapters, but I now plan to make use of it for when we're able to start moving the web apps over). I just wanted to share what I've encountered so far on this topic.

One of my first thoughts was somehow using a derivation of ASP.NET Core's `HttpContext` (even via an `IH

[2022-07-14 06:44] ladeak commented on #108
Thank you for the suggestions and pointers.

[2022-07-14 06:44] #108 closed

[2022-07-14 17:26] adityamandaleeka commented on #83
@CZEMacLeod Feel free to open a PR for this and we'll review the approach. It may take a bit longer than usual now since the team is fairly occupied at the moment, but we'll get to it as soon as we can.

[2022-07-14 21:23] gumbarros opened #111 "Response.End not working inside Razor Class Library"
### Describe the bug
Trying to use Response.End from a Controller inside a Razor Class Library causes the exception bellow.

### To Reproduce
[code]
### Exceptions (if any)
Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HMJ5RQTKTINH", Request id "0HMJ5RQTKTINH:00000175": An unhandled exception was thrown by the application.
      System.InvalidOperationException: Headers are read-on

[2022-07-14 22:39] twsouthwick opened #112 "Feedback from initial API Review"
## Summary

We had an API review and here are the list of changes we need to make:

- [x] Remove constructors from HttpContext, HttpRequest, HttpResponse https://github.com/dotnet/systemweb-adapters/pull/113
- [ ] ~~Add [Obsolete] to APIs that will cause sync over async and expose async counterparts on the ASP.NET Core build https://github.com/dotnet/systemweb-adapters/issues/164~~
- [x] Move buil

[2022-07-14 22:43] twsouthwick commented on #112
/cc @mjrousos the namespace changes may make sense in your current PR (it at least can't be done until you merge your changes)

[2022-07-15 03:27] mjrousos commented on #112
Yea, I can make the namespace chances in #110. I'll get that updated tomorrow.

[2022-07-15 19:39] mjrousos commented on #112
For the .NET Core namespace for the extension methods, should it be `Microsoft.AspNetCore.Builders` or `Microsoft.Extensions.DependencyInjection`? The extension methods start by extending `IServiceCollection` (rather than by extending the web application builder directly).

[2022-07-15 19:41] twsouthwick commented on #112
`Microsoft.AspNetCore.Builders` - that's the pattern ASP.NET Core wants us to use

[2022-07-15 19:42] mjrousos commented on #112
Hm... ok. It seems like a lot of the other builders are using MED (`AddControllers`, `AddReverseProxy`, etc.) but I'll use Microsoft.AspNetCore.Builders for now and we can ask about it.

[2022-07-18 21:22] #50 closed

[2022-07-18 21:22] #56 closed

[2022-07-20 20:32] adityamandaleeka opened #116 "Security review for auth work"

[2022-07-20 20:38] adityamandaleeka commented on #111
Can you please share your controller code as well?

[2022-07-20 20:43] adityamandaleeka commented on #26
Let's wait for more feedback/requests for this for now.

[2022-07-20 20:48] gumbarros commented on #111
The controller code have a huge dependency tree, maybe useless to this review, soon JJMasterData will be open-source. Tried adding the [SingleThreadedRequest] atribute [but it don't exists on the public API](https://github.com/dotnet/systemweb-adapters/blob/main/src/Microsoft.AspNetCore.SystemWebAdapters/ExcludedApis.txt).

Controller from the RCL
[code]
View from the RCL
[code]

Response.End bein

[2022-07-20 20:51] adityamandaleeka commented on #2
Triage: might consider wrapping the Builder API to make this easier/simpler.

We'll probably want to put it in a separate library (to minimize unnecessary dependencies in S.W.Adapters).

[2022-07-20 21:01] adityamandaleeka opened #117 "Update Auth and Session docs with recent API changes"

[2022-07-20 21:02] twsouthwick commented on #111
How was this code used in .NET Framework? Calling End() seems like it would fail in a view there as well....

[2022-07-20 21:05] gumbarros commented on #111
It's insane, but this exactly Controller works on .NET Framework too.  The front-end does alot of JS calls to the back-end and the method GetHtml get re-called.

[2022-07-20 21:06] gumbarros commented on #111
I also implemented on my application the source code of SingleThreadedRequestAttribute and a SingleThreadedMiddleware but no success.

[2022-07-20 21:14] DorianGreen opened #118 "X-Forwarded-Proto isn't respected in MVC Request due to wrong server variable being set"
### Describe the bug

ProxyHeaderModule is currently setting the SERVER_PROTOCOL variable based on x-forwarded-proto.
This variable is should be used to denote the HTTP protocol (i.e. HTTP/1.1 or HTTP2) and not the scheme (HTTP vs HTTPS).
IIS/ASP.NET use the HTTPS boolean server variable for the scheme.

### To Reproduce

1. send a request to any controller action with http scheme, adding a X-Forw

[2022-07-20 22:25] twsouthwick commented on #111
@gumbarros I'd like to try to repro this, but I can't see how the sample you shared would actually tie together. How does the controller end up at the `SendResponse()` method?

[2022-07-20 23:41] #72 closed

[2022-07-21 00:17] twsouthwick commented on #118
@DorianGreen This has been fixed and will be available in preview 3. See https://github.com/dotnet/systemweb-adapters/pull/92

[2022-07-21 01:31] DorianGreen commented on #118
The fix doesn't address the issue, it sets the correct port, but not the correct scheme.

SERVER_PROTOCOL is the wrong variable to set, and MVC webapi doesn't know how to handle it.

SERVER_PROTOCOL should be used for HTTP1.1 vs HTTP2  and not for HTTP vs HTTPS.

the correct server variable to set is HTTPS with a value of ON for HTTPS and OFF for HTTP.

[2022-07-21 12:49] TheJayMann commented on #72
Testing this with WS-Federation shows that the issue has been resolved.

[2022-07-21 17:49] #117 closed

[2022-07-21 17:57] mjrousos commented on #65
I just ran through this scenario with App Service and it all worked as expected. I've put a summary of the steps I took here to hopefully get people unstuck and will work on adding a doc explaining the process for future reference.

## Steps to deploy to Azure App Service

1. Deploy both the .NET Framework and the .NET 6, each to their own Web App instance. In my case, I used to web apps in the sa

[2022-07-21 19:15] twsouthwick commented on #111
@gumbarros Since this worked on framework, I'd still love to see a full repro of what you're doing in case there's something we can do here.

[2022-07-21 19:43] gumbarros commented on #111
@twsouthwick We're adding support to .NET Core in our CRUD generator based on database metadata. Also in this migration, we're going to open-source it to the community. We're writing some tests and creating documentation before releasing for the general public, in a few weeks is the prevision to release it. Copying and pasting code will not work, the codebase is very very huge. If you really want,

[2022-07-21 20:53] twsouthwick commented on #118
OK. I'll reopen and look into this.

[2022-07-22 08:15] ragnarstolsmark opened #125 "HTTPS server variable is set to upper case "ON" causing .NET framework to return false for request.IsSecure"
### Describe the bug
.NET framework returns wrong request.url when the request hitting the proxy was transferred over https.

### To Reproduce

1. Serve the .NET Framework app over http
2. Add the following to global asax
[code]
3. Access the proxy over https.
5. In the .NET framework app print out HttpContext.Current.Request.Url
6. It should start with https://
7. It starts with http.
### Excepti

[2022-07-22 09:47] tbertenshaw opened #127 "Preview3 adds dependencies which (Could) break .NET Framework webapps"
### Describe the bug
After upgrading my Netframework app (which is  using Microsoft.AspNetCore.SystemWebadapters for auth) breaks with various missing component dependencies which werent required in Preview2.

as seen https://www.nuget.org/packages/Microsoft.AspNetCore.SystemWebAdapters/1.0.0-preview.3.22370.2#dependencies-body-tab

### Exceptions (if any)
`Could not load file or assembly Microsof

[2022-07-22 20:45] twsouthwick commented on #125
Fixed in #126.

Thanks @ragnarstolsmark for catching this and fixing it!

[2022-07-22 20:45] #125 closed

[2022-07-23 08:58] tbertenshaw commented on #127
I managed to Fix my implementation by

installing  `Microsoft.Bcl.AsyncInterfaces` version `6.0.0`

adding the following to `web.config`

[code]

[2022-07-26 18:51] gumbarros commented on #111
On Preview 3 getting the following error:
[code]

[2022-07-26 21:17] gumbarros commented on #111
Another update:

Calling Response.End inside the view don't cause errors, calling from the Controller causes. But on Linux the Response.End never happens.

[2022-07-26 22:31] twsouthwick opened #131 "Relayer packages to minimize dependencies"
## Summary

We should relayer packages to keep the core adapters (i.e. System.Web types) an isolated package, and the supporting infrastructure as a separate layer.

## Motivation and goals

The adapters need to use some external dependencies for some functionality (i.e. dependency injection, JSON serialization, etc) but that is mostly at the level of tying the services together. Specifically, thi

[2022-07-26 22:37] twsouthwick commented on #131
@adityamandaleeka @danroth27 Thoughts (especially around the new package name)?

[2022-07-26 22:40] twsouthwick commented on #127
Opened an issue to rethink the package layering to minimize these kind of issues

[2022-07-26 22:40] #127 closed

[2022-07-27 22:03] khellang commented on #131
Why don't you flip the naming and call the packages something like ``Microsoft.AspNetCore.SystemWeb.Adapters` and `Microsoft.AspNetCore.SystemWeb.Shims`. i think it matches the actual content of the packages better.

[2022-07-28 16:11] HaoK commented on #14
Done as part of https://github.com/dotnet/systemweb-adapters/pull/121

[2022-07-28 17:33] twsouthwick commented on #66
@LodewijkSioen for this specific instance, the following works (although I'd want to optimize it a bit more for production use):

[code]

[2022-07-28 17:33] #66 closed

[2022-07-28 18:49] HaoK commented on #75
Samples updated by https://github.com/dotnet/systemweb-adapters/pull/121

[2022-07-28 18:49] #75 closed

[2022-07-28 18:50] HaoK commented on #14
Leaving this open to track adding a few more helpers that discussed in https://github.com/dotnet/systemweb-adapters/pull/121

[2022-07-29 12:46] ocukrowicz-mtab opened #133 "Incorrect session endpoint when RemoteApp option has path segments"
### Describe the bug
If RemoteApp url has path segments, for example https://devblogs.microsoft.com/dotnet/, the library removes the path segments when creating request for fetching session.

For example
 https://devblogs.microsoft.com/dotnet/  would create  https://devblogs.microsoft.com/fallback/adapter/session/ instead of expected https://devblogs.microsoft.com/dotnet/fallback/adapter/session/

[2022-08-01 09:03] mikebrind commented on #65
Any advice on deploying to IIS? This works fine on my local machine (with Razor Pages instead of MVC controllers and views), but I can't seem to migrate to IIS successfully. I create two web sites in IIS, each with their own app pool and web.config, one for the Razor Pages app  and another for the legacy MVC 5 app, and set the fallbackApp Address to the MVC 5 site's URL. However, when requesting a

[2022-08-02 15:45] mikebrind commented on #65
@mjrousos Thanks for coming back to me, Mike. I was using preview 2. Do you have any upgrade notes from preview 2 to 3? Only `RemoteServiceOptions` seems to have disappeared. This no longer compiles and I can't see any obvious alternatives:
[code]

[2022-08-02 17:31] TheJayMann commented on #65
This is something that had me confused a bit when I was testing the fix to returnUrl.  At some point there was a change where remote options were separated from session and authentication and combined into remote options.  I believe you would need to change the above as follows.
[code]

[2022-08-03 12:49] mikebrind commented on #65
@mjrousos I've updated to Preview 3 and the issue still occurs. A 302 redirect to the fallbackApp address for any endpoints not catered for in the .NET Core app.  I've also noticed that the user is not authenticated in the .NET Core app either.

SystemWebAdapters and reverse proxy config (thanks @TheJayMann):
[code]

.NET Core middleware:

[code]

[2022-08-03 20:48] adityamandaleeka commented on #112
cc @mjrousos for "NetworkTimeout could probably be made an HttpClient"

[2022-08-06 01:08] #111 closed

[2022-08-08 18:51] mjrousos opened #138 "NetworkTimeout could probably be made an HttpClient"

[2022-08-10 15:29] #133 closed

[2022-08-10 15:29] #138 closed

[2022-08-10 20:43] adityamandaleeka opened #140 "Review API changes since last API review"

[2022-08-11 10:40] sdekock opened #141 "Add HttpRequestBase.Files and supporting types"
In PR https://github.com/dotnet/systemweb-adapters/pull/103 the types to handle file upload were added: Files property on HttpRequest and HttpPostedFile class.

These should also be created in the *Base variants: Files property in HttpRequestBase and a HttpPostedFileBase class.

[2022-08-11 10:53] sdekock commented on #141
To be considered as part of #91 ?

[2022-08-12 07:27] sdekock opened #142 "implicit cast operators for HttpContextBase, HttpRequestBase, HttpResponseBase"
For HttpContext, HttpRequest and HttpResponse there are implicit cast operators from and to the equivalent ASP.NET Core types.

However these are mostly missing in the *Base variants. Currently there is only an implicit cast to HttpContextBase.

[2022-08-13 22:10] khellang commented on #142
Question; should the conversions be implicit both ways?

Microsoft's guidelines state that

If you want to discourage people from sticking with the old APIs, I suggest making the ASP.NET Core -> System.Web conversion explicit. Since there's a lot of System.Web APIs that are unsupported running on top of ASP.NET Core, makes the old abstraction much weaker.

[2022-08-15 17:40] mjrousos opened #144 "Feedback from review of remote app authentication design"
- [ ] Update docs to cover best practices regarding verification of the back-end (ASP.NET app). It is strongly recommended that HTTPS be used in production scenarios to verify that the identity responses are coming from a trusted source.
- [ ] Consider updating the security key used for remote app auth to have requirements like being a 128-bit hex string or being a guid or something like that so t

[2022-08-15 18:14] twsouthwick commented on #141
Let's keep it separate - #91 will be separated out into new issues (all features from that that will be addressed for v1 have been at this point). Can you share the full API shape you want to enable here?

[2022-08-15 18:19] twsouthwick commented on #142
This is why I had removed initial versions that would implement this. Can you share the scenarios you would make use of these conversions?

Interesting thought. Part of the goal here is to aid with making the conversion from System.Web -> ASP.NET Core simpler. One of our principals here is minimal code changes to get running on core. It seems that if we made the conversions explicit, it would end

[2022-08-15 18:38] sdekock commented on #141
The [Files property on the HttpRequestBase](https://docs.microsoft.com/en-us/dotnet/api/system.web.httprequestbase.files) class
And supporting types:
[HttpFileCollectionBase](https://docs.microsoft.com/en-us/dotnet/api/system.web.httpfilecollectionbase)
[HttpFileCollectionWrapper](https://docs.microsoft.com/en-us/dotnet/api/system.web.httpfilecollectionwrapper)
[HttpPostedFileBase](https://docs.mi

[2022-08-15 19:15] sdekock commented on #142
In my current project I only need the conversions from the ASP.NET Core context classes to the System.Web *Base classes. As we are passing them from MVC controllers to other parts of our application (business layer / utilty functions / ...).
These other parts currently expect the *Base classes as we don't use HttpContext.Current but the HttpContext property of the Controller, which is of type Http

[2022-08-15 20:11] twsouthwick commented on #142
What about just the implicit operators of the ASP.NET Core->System.Web types? The other direction is not as straightforward. Using the *Wrapper implementations for the implicit *Base would probably make sense.

[2022-08-16 17:53] twsouthwick commented on #23
Some APIs that may be related here:

- `HttpContext.GetSection`
-  `HttpContext.GetGlobalResourceObject`
- `HttpContext.GetLocalResourceObject`

[2022-08-16 18:08] twsouthwick opened #146 "Consider supporting handler/module infrastructure"
## Summary

Two of the building blocks in System.Web were `IHttpModule` and`IHttpHandler`. These allowed hooking into the framework in different ways.

- `IHttpModule` exposed some events that allowed code to be inserted at different parts of the pipeline. This is somewhat similar to middleware, but not completely 1:1.
- `IHttpHandler` were the spiritual equivalent of endpoints in System.Web. We c

[2022-08-16 18:11] twsouthwick opened #147 "Enable HttpContext.SkipAuthorization/SetSessionStateBehavior"
## Summary

`HttpContext.SkipAuthorization` and `HttpContext.SetSessionStateBehavior` adjust what is being done for auth or session. These concepts in ASP.NET Core are done by the metadata associated with an endpoint. These are readonly-containers, so it may not be easy to modify them per-endpoint

## Motivation and goals

This would enable code that wants to turn auth/session on/off in legacy cod

[2022-08-16 18:14] twsouthwick opened #148 "Enable HttpRequest.ClientCertificate"
## Summary

Code may need access to the client certificate. On ASP.NET Core, this is available through `HttpContext.Connection.ClientCertificate`.

## Motivation and goals

This would enable code that may need access to this to compile against System.Web.

## In scope

- `HttpRequest.ClientCertificate`
- `System.Web.HttpClientCertificate`

[2022-08-16 18:17] twsouthwick opened #149 "Enable HttpRequest APIs dependent on VirtualPathUtility"
## Summary

A number of APIs on `HttpRequest` rely on the `VirtualPathUtility`. Once that's available (https://github.com/dotnet/systemweb-adapters/issues/83), these APIs may be built on it.

## In scope

- `HttpRequest.FilePath`
- `HttpRequest.PathInfo`
- `HttpRequest.PhysicalPath`
- `HttpAppPathModifier`

[2022-08-16 18:20] twsouthwick opened #150 "Enable HttpRequest.ReadEntityBodyMode/GetBuffer[ed|less]InputStream()"
## Summary

This adds the ability to know what state the request stream is in (i.e. buffered, not buffered, read, etc)

## In scope

- `System.Web.ReadEntityBodyMode`
- `System.Web.HttpRequest.ReadEntityBodyMode`
- `System.Web.HttpRequest.GetBufferlessInputStream()`
- `System.Web.HttpRequest.GetBufferedInputStream()`

[2022-08-16 18:23] twsouthwick opened #151 "Enable `HttpRequest.RequestContext`"
## Summary

`HttpRequest.RequestContext` is similar to endpoint information. The information here may be able to be exposed in a way that makes this available to code written for System.Web.

## In scope

- `System.Web.HttpRequest.RequestContext`
- `System.Web.Routing.RouteData`
- `System.Web.Routing.IRouteHandler`
- `System.Web.Routing.RouteValueDictionary`

## Out of scope

- The System.Web rout

[2022-08-16 18:27] twsouthwick opened #152 "Enable HttpContext.IsCustomErrorEnabled"
## Summary

There's no exact equivalent for `HttpContext.IsCustomErrorEnabled`, but maybe there's an equivalent (i.e. seeing if the exception page is being displayed?).

## In scope

- `HttpContext.IsCustomErrorEnabled`

[2022-08-16 18:29] twsouthwick opened #153 "Enable HttpResponse.AppendToLog"
## In scope

- `System.Web.HttpResponse.AppendToLog`

[2022-08-16 18:31] twsouthwick opened #154 "Enable HttpResponse.SuppressFormsAuthenticationRedirect"
## Summary

From the docs:

        /// By default, the FormsAuthenticationModule hooks EndRequest and converts HTTP 401 status codes to
        /// HTTP 302, redirecting to the login page. This isn't appropriate for certain classes of errors,
        /// e.g. where authentication succeeded but authorization failed, or where the current request is
        /// an AJAX or web service request. This p

[2022-08-16 18:37] twsouthwick opened #155 "Enable HttpCachePolicy"
## Summary

`HttpCachePolicy` enables various APIs to set the caching policy for a page for the `cache-control` header.

## In scope

- `HttpCachePolicy`
- `HttpResponse.Cache`
- `HttpResponse.Expires`
- Update `DefaultCacheControlMiddleware` to make use of `HttpCachePolicy`

[2022-08-16 18:38] twsouthwick commented on #91
Issues will be tracked in linked issues, so closing this larger issue.

[2022-08-16 18:38] #91 closed

[2022-08-16 21:04] #131 closed

[2022-08-16 21:28] mjrousos commented on #116
Done. Follow-up work items tracked in #144

[2022-08-16 21:28] #116 closed

[2022-08-17 08:58] sdekock commented on #142
Would be fine in my specific case.

I was just aiming for parity with the regular HttpContext/HttpRequest/HttpResponse types, for those you already have a cast in from the legacy to the new types.
And if you see in my PR it's not too difficult to implement, you just need a virtual Unwrap method.

[2022-08-17 09:14] sdekock commented on #142
I also get why you would choose for explicit conversions. I believe the concerns @khellang already stated are definitely valid.
But I believe the conversions for the regular HttpContext types should then be explicit as well.

However I see this entire package as something you only should use when migrating. Most of it implies you pay for a performance hit anyway. The end goal should be to remove t

[2022-08-17 11:06] khellang opened #156 "Host header is changed too late when using UseHostHeaderForRequestUrl"
### Describe the bug

When running the backend ASP.NET app with the following app setting:

[code]

The `Host` header from the backend app will be used to build `Request.Url` instead of the forwarded proxy host.

This seems to be because the `Host` header from `X-Forwarded-Host` is set too late in the pipeline and that `Request.Url` [has already been calculated](https://referencesource.microsoft.c

[2022-08-17 11:47] khellang commented on #156
I tried setting a breakpoint where the `Url` ends up being built, this is the stack trace I'm getting:

[code]

[2022-08-17 12:05] khellang commented on #156
Ah, it seems that `ProxyHeaderModule` does, in fact, set `SERVER_NAME`, `SERVER_PORT` and `Request.Headers["Host"]` using the forwarded headers, it's just that `HttpWorkerRequest.GetKnownRequestHeader` returns the wrong value. Apparently setting those things at the ASP.NET level doesn't pipe it back down to IIS.

[2022-08-17 16:06] mjrousos commented on #65
@mikebrind, as you noticed, the API for configuring remote app authentication has changed some between preview 2 and preview 3 (primarily so that remote app setup can be shared between remote auth and remote session, if needed) but the code you've shared here looks correct.

Have you also updated the ASP.NET (.NET Framework) app (as described [here](https://github.com/dotnet/systemweb-adapters/blo

[2022-08-17 20:36] adityamandaleeka commented on #65
@mikebrind It's not clear where the 302 could be coming from; YARP should handle the fallback without sending 302s.

If you could share a minimal app that demonstrates the problem and put it on a github repo for us to look at, that would be very helpful. Thanks!

[2022-08-17 20:40] adityamandaleeka commented on #98
We should also include https://github.com/dotnet/systemweb-adapters/issues/65#issuecomment-1191777391 when we do this.

[2022-08-17 20:41] adityamandaleeka commented on #65
Moving this issue out of RC1 since it's not release-blocking. Still interested in understanding the problem above.

[2022-08-17 20:46] adityamandaleeka commented on #112
Looks like the only one remaining is

[2022-08-18 08:59] mikebrind commented on #65
@mjrousos @adityamandaleeka Thanks for bearing with me. The issue was that I had not updated the .NET Framework app to use Preview 3 😬

After making those changes, I have it working as advertised on IIS now.

[2022-08-18 13:12] mjrousos commented on #65
Awesome; glad to hear it's working now!

[2022-08-18 13:12] #65 closed

[2022-08-20 00:44] adityamandaleeka commented on #156
@HaoK can you please take a look at this and see if there's something we can do better here?

[2022-08-22 11:33] ztepsic opened #158 "Using Microsoft.AspNetCore.SystemWebAdapters, Yarp is throwing ArgumentException: Invalid destination prefix. (Parameter 'destinationPrefix')"
Hi,

I'm trying to use Microsoft.AspNetCore.SystemWebAdapters to implement a incremental move from a big existing ASP.NET MVC site to a ASP.NET Core MVC site. I was following steps from the article https://devblogs.microsoft.com/dotnet/incremental-asp-net-to-asp-net-core-migration/, but once I request a route which should be forwared to the old ASP.NET MVC site I'm getting the following exception:

[2022-08-22 14:25] leandrotsampa opened #159 "Missing Microsoft.AspNetCore.SystemWebAdapters.FrameworkServices on Repository"
### Describe the bug
Not found package Microsoft.AspNetCore.SystemWebAdapters.FrameworkServices in Nuget Repository the other's packages it's OK.

### To Reproduce

Check if package it's included in Nuget Repository.

### Exceptions (if any)

### Further technical details

Please include the following if applicable:

*ASP.NET Framework Application*:
- Technologies and versions used (i.e. MVC/WebFo

[2022-08-22 18:50] danroth27 commented on #112
Which APIs are we talking about obsoleting? Are we talking about APIs in the System.Web Adapters? We haven't shipped a stable release of the System.Web Adapters package yet, so if we need to make an API change we can just do so without obsoleting anything.

[2022-08-23 01:07] HaoK commented on #156
@Tratcher so I debugged this and looks like IIS7WorkerRequest will cache the known headers early on, via this call stack, after which setting the host headers won't affect anything since its cached into the _knownRequestHeaders.  Not sure if there's anything we can do about this

https://github.com/microsoft/referencesource/blob/master/System.Web/Hosting/IIS7WorkerRequest.cs#L741

[code]

[2022-08-23 07:42] khellang commented on #156
It does seem like the `HttpHeaderCollection` should pipe the request header back down to `IIS7WorkerRequest`:

https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.Web/HttpHeaderCollection.cs#L110-L112

Which in turn seems to pipe it back through to IIS:

https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.W

[2022-08-23 08:49] HaoK commented on #156
Yeah, this looks like a bug in System.Web unfortunately :(

[2022-08-23 09:00] khellang commented on #156
And that leaves the bar super super high to get it fixed? 😟

[2022-08-23 12:39] sanjuroo opened #160 "System.Web typeload exception in class library"
I am trying to migrate some old API to .net 6. Just to verify when I use HttpContext.Current in .net 6 API project everything is fine.

Problem is that one of the older class library projects in solution is using HttpContext.Current also. Target framework of this class lib is net472. I removed System.Web reference, added reference to Microsoft.AspNetCore.SystemWebAdapters. I cleaned project, delet

[2022-08-23 12:45] khellang commented on #160
Are you trying to consume a `net472` class library in a `net6.0` app? Is that even possible? I suggest converting your class library to `netstandard2.0` first.

[2022-08-23 16:22] Tratcher opened #161 "Provide documentation to use Owin correctly with ASP.NET Core"
Moved from: https://github.com/dotnet/aspnetcore/issues/39943

ASP.NET Core's current owin documentation does not details on adding the glue code to plug in things like logging, data protection, hosting shutdown tokens etc. For instance, https://www.codeproject.com/Articles/1122162/Implement-Owin-Pipeline-using-Asp-net-Core has a section about configuring the OnAppDisposing token using IApplicatio

[2022-08-23 17:38] twsouthwick commented on #161
Potential duplicate #2

[2022-08-23 17:40] twsouthwick commented on #159
@leandrotsampa This is a breaking change for rc1 that has not been released to NuGet yet. Please use the CI feed described in the setup to grab that package: https://github.com/dotnet/systemweb-adapters#set-up

[2022-08-23 17:48] twsouthwick commented on #160
If you're using the net472 output, it will look in `System.Web.dll` for the implementation of `HttpContext`. Please add a target for `net6.0` or `netstandard2.0` to your project file. For an example, see https://github.com/dotnet/systemweb-adapters/blob/main/samples/ClassLibrary/ClassLibrary.csproj#L4

[2022-08-23 17:48] #160 closed

[2022-08-23 17:48] leandrotsampa commented on #159
Hi @twsouthwick, thanks for response.
I'm using this feed, but not see this package:

![image](https://user-images.githubusercontent.com/13751549/186228721-1a4111e1-ce33-4d36-9968-8021ba2f8c2d.png)

Have other sulution?

[2022-08-23 17:57] twsouthwick commented on #159
Thanks for the reply. Looks like we may not have a property set correctly.

[2022-08-23 18:03] twsouthwick commented on #158
Can you share what your `appsettings.json` and `launchsettings` are? It looks like YARP isn't getting a fallback address (the samples in the repo set it as an env variable here: https://github.com/dotnet/systemweb-adapters/blob/main/samples/MvcCoreApp/Properties/launchSettings.json#L16).

[2022-08-23 20:39] Tratcher commented on #156
Right

[2022-08-23 21:00] #159 closed

[2022-08-24 00:14] HaoK commented on #156
Ok private reflection works, verified on the contact page which prints the request.url in the mvccoreapp, after doing this reflection to flip the flag in the proxy module, the url will now be correct

[code]

Before the fix: Url: https://localhost:44339/Home/Contact (Shows the framework backend Url)
After the fix: Url: https://localhost:55442/Home/Contact (Shows the core app url)

If we are happy

[2022-08-24 03:37] Maples7 commented on #150
Adding a related discussion [here](https://github.com/dotnet/aspnetcore/issues/43084).

[2022-08-24 07:45] khellang commented on #156
Assuming it's safe to read the headers multiple times, I guess it's OK, but it does a lot of unnecessary work when you could just surgically insert the new value into the cached array 😉

[2022-08-24 08:00] khellang commented on #156
Since `HttpWorkerRequest.GetKnownRequestHeaderIndex(String)` appears to be public, it should only be a matter of setting `_knownRequestHeaders[index] = value` (assuming `_knownRequestHeaders` isn't `null`).

[2022-08-24 14:47] ztepsic commented on #158
I found where is the problem and it is related to appsettings.json.

In Program.cs I'm doing this

[code]

Problematic line is ` .AddJsonFile("appsettings.json", optional: false, reloadOnChange: true)` which causes that ReverseProxy is not configured fore some reason.

Once I removed this problematic line that it worked.

[2022-08-24 15:11] twsouthwick commented on #158
If you share the contents of each of those files we can probably pinpoint the issue

[2022-08-24 17:46] twsouthwick opened #164 "Add async APIs to push users aways from sync over async patterns"
## Summary

A number of APIs in .NET Core are async aware and probably should have been in .NET Framework. However, when adapting the behavior of core behind the APIs framework had ends up with a number of sync over async patterns. We should provide a way forward here that will guide people to using async.

## Motivation and goals

We should provide async methods that end up calling into async pat

[2022-08-24 17:48] twsouthwick commented on #112
@danroth27 this is about providing a pathway for users using APIs that are currently doing sync over async due to the shape of System.Web APIs. We would need to keep the APIs themselves, but the obsolete would identify what they should use instead. This was an item that was not necessary initially (and does not block us from releasing). I've created a separate issue to discuss what we should do he

[2022-08-24 18:36] twsouthwick commented on #112
Found a type we missed to update. Reopening until https://github.com/dotnet/systemweb-adapters/pull/165 is merged

[2022-08-24 18:39] twsouthwick opened #167 "Update Arcade toolchain"
We're still on .NET 7 Preview 2. @Tratcher how do we update? Is it something that can be automated?

[2022-08-24 18:41] Tratcher commented on #167
It can be updated and automated with the darc tool. Is there a specific/urget reason you need an update?

[2022-08-24 18:44] twsouthwick commented on #167
I noticed build warnings about using deprecated agents at https://dev.azure.com/dnceng/public/_build/results?buildId=1964552&view=results and then noticed that we're behind on Arcade updates. These agents are getting brownouts to notify us we need to get off of them. I've only seen one failure so far, but would be good to update.

[2022-08-24 18:56] twsouthwick commented on #156
This combined with only doing this if the `aspnet:UseHostHeaderForRequestUrl` is `true` should limit the perf impact

[2022-08-24 19:11] Tratcher commented on #156
The perf impact is limited if you cache common parts like `typeof(HttpRequest).GetField...` staticky. only things like GetValue and SetValue need to be called per request.

[2022-08-24 19:14] Tratcher commented on #167
I've enabled weekly updates via darc. The first one is https://github.com/dotnet/systemweb-adapters/issues/167.

[2022-08-24 20:30] khellang commented on #156
I was thinking more about the cache invalidation and re-parsing of the request headers. If you think it's OK, I won't protest 😅

[2022-08-24 20:51] adityamandaleeka commented on #14
Due to the Owin concerns, we'll skip this for RC1. Based on demand for this and other Owin-related things in the future we can consider a package like SystemWebAdapters.Owin or something.

[2022-08-24 21:07] adityamandaleeka commented on #141
@sdekock Sure, a PR would be welcomed. At this point it likely wouldn't make it into the RC 1 release but we would get it into post-1.0.

[2022-08-24 21:10] #167 closed

[2022-08-24 23:18] twsouthwick commented on #142
Merged in

[2022-08-24 23:18] #142 closed

[2022-08-24 23:18] HaoK commented on #156
I like your proposal to just use reflection to update the array value, I'll open a PR with that approach

[2022-08-25 22:04] #150 closed

[2022-08-26 00:08] #112 closed

[2022-08-26 00:55] gumbarros opened #174 "AddProxySupport on .NET Framework not working with UseForwardedHeaders"
### Describe the bug
[As described in this issue ](https://github.com/microsoft/reverse-proxy/discussions/1844), UseForwardedHeaders is not working, my website is displaying the subroute instead of the original request. I don't know if this is a SystemWebAdapter issue or YARP issue, please close this issue if it is 100% YARP related.

### To Reproduce
Host in IIS a .NET Core website on www.site.co

[2022-08-26 01:56] #156 closed

[2022-08-26 13:59] ztepsic commented on #158
Files are simple ones:

`appsettings.json`
[code]

`appsettings.Test.json`
[code]

So, If I comment the line where I'm trying to add "appsettings.json" then everything is working OK:
[code]

If the line `  .AddJsonFile("appsettings.json", optional: false, reloadOnChange: true)` is uncommented, it seems that it overrides values that are set either by Yarp or systemwebadapters during initialization

[2022-08-26 17:08] twsouthwick commented on #158
This appears to be happening then because you are registering a destination, but don't have the path set. If you comment that out, I'd be surprised if you see any traffic going to the framework app.

Can you describe what your set up is trying to do? YARP is used here generally to forward requests onto the backend framework app. Is that what you're doing? If so, I don't see any configuration where

[2022-08-26 18:11] Tratcher commented on #158
You have to set the Address field, either in the appsettings or launchsettings.
[code]
https://github.com/dotnet/systemweb-adapters/blob/main/samples/MvcCoreApp/Properties/launchSettings.json#L16

[2022-08-26 18:27] twsouthwick commented on #158
@Tratcher The error message is a little confusing here. Is this something that could be fixed in YARP to be clear that there is no address set?

[2022-08-26 18:29] twsouthwick commented on #174
Yes, the virtual path needs to be the same for this set up to work. Otherwise things like routing just don't work well. I'm happy to hear if someone is able to make it work, but I've gone down that rabbit hole and am fairly convinced that the path of the application needs to be the same.

I'm going to leave this open so we can ensure this is documented.

[2022-08-26 20:11] twsouthwick opened #176 "Consider health checks that add some verification for setup"
## Summary

We should provide some healthchecks that will ensure certain conditions are met and will provide users with actionable changes (i.e. identify that they are using the same virtual directory).

## Motivation and goals

There are a number of conditions that need to be met in order to have a good experience:

- Remote app is reachable
- Virtual directory setup is the same
- YARP setup
- po

[2022-08-26 20:16] gumbarros commented on #174
@twsouthwick  thanks for the response! Is this the recommended structure? When I open /devCore, my site is still displaying /dev :cry:

![image](https://user-images.githubusercontent.com/52143624/186984166-bd87423e-e8c9-4674-a71d-543e7f79ae55.png)

[2022-08-26 20:22] twsouthwick commented on #174
@gumbarros I'm not an IIS expert, so I may not be interpreting that screenshot fully - please correct me if my understanding here is wrong.

It appears that you have dev and devCore as separate applications. Instead, you'll want to set it up so that they are on different sites. They can still have the same virtual directory/application structure, but the names of those must match.

[2022-08-26 20:33] ztepsic commented on #158
I was using "Microsoft Project Migrations" extension which generated code and filled appsettings.json and launchesttings.json.
The part for RemoteProxy in appsettings.json I provided above is what that plugin generated.

Initially it loads values from launchsettings.json (env variables), but if I load appsettings.json (with `.AddJsonFile("appsettings.json", optional: false, reloadOnChange: true)`)

[2022-08-26 22:39] twsouthwick commented on #158
oh yes, that makes sense. Why are you reloading the appsettings.json? That should be loaded by default, followed by env settings (see https://source.dot.net/#Microsoft.Extensions.Hosting/HostingHostBuilderExtensions.cs,224)

[2022-08-26 23:04] gumbarros commented on #174
@twsouthwick thank you very much! Solved my problem. For anyone with difficulties:
![image](https://user-images.githubusercontent.com/52143624/187000990-af5c8bbc-f1c8-45cc-8456-76306b14bdc8.png)

Just set the two websites with the same folder name.

The port 88 is the .NET Framework one, it's being hosted as localhost only. Edited appsettings.json to:
[code]
.NET Core app now reverse proxy to the

[2022-08-30 16:41] #174 closed

[2022-08-30 20:18] #144 closed

[2022-08-31 16:22] twsouthwick commented on #85
@gumbarros do you have the same version on framework and core?

[2022-08-31 16:54] gumbarros commented on #85
@twsouthwick  yes, both are at the same version
![image](https://user-images.githubusercontent.com/52143624/187735168-528e5dcf-2b95-4595-9ee6-505fe529f8a6.png)

DanSales.Core is the .NET Core website and DanSales.Web the VB.NET WebForms one.

Program.cs
[code]
Global.asax.vb
[code]

If I set a cookie name for both, the error don't happen, but the session values are not shared.

[2022-08-31 17:22] gumbarros commented on #85
I found in the application logs, this exception.
[code]

Registred my key with object instead of string and solved my problem.

Also added AddSessionSerializer to both builders.

[2022-08-31 17:50] twsouthwick commented on #85
Ah - that's interesting. I'm going to great a new issue for that. We shiuld handle that case better

[2022-08-31 17:51] twsouthwick opened #187 "Session state cannot be serialized if type registered for key is not correct"
I found in the application logs, this exception.
[code]

Registred my key with object instead of string and solved my problem.

Also added AddSessionSerializer to both builders.

_Originally posted by @gumbarros in https://github.com/dotnet/systemweb-adapters/issues/85#issuecomment-1233214083_

[2022-09-02 16:50] pdunkerley opened #191 "Remote authentication not working when Framework app is not the root of the website"
I am trying to get the remote authentication working against our ASP.NET MVC 5.2 app. Our app doesn't run in the root of the IIS website - we have to run it as a sub application (i.e. /myapp), and I think this may be causing the problem I am having. Essentially, when the Core app makes the authentication request to the Framework app, it calls "/systemweb-adapters/authenticate" and not "/myapp/syst

[2022-09-02 21:14] twsouthwick commented on #191
Nope, that should be fine. It was partially fixed in #139, then regressed in #178. This is now handled for any remote call, and will also correctly compare on the backend in cases like this (#139 did not handle that case).

[2022-09-02 21:22] twsouthwick commented on #191
Also, please note the following guideline if you're using app or virtual directories: https://github.com/dotnet/systemweb-adapters/blob/main/docs/usage_guidance.md#virtual-directories-must-be-identical-for-framework-and-core-applications

[2022-09-02 23:42] #187 closed

[2022-09-02 23:56] #191 closed

[2022-09-07 17:49] twsouthwick commented on #83
Closed via #179

[2022-09-07 17:49] #83 closed

[2022-09-07 20:42] adityamandaleeka commented on #90
@bsulliva I'll close this issue now since we haven't heard from you in a while. If you do create the repro and want to share it with us, please reopen the issue.

[2022-09-07 20:42] #90 closed

[2022-09-08 16:39] pdunkerley opened #195 "Authentication redirect not working"
I am having issues getting the redirect to the login page to work when accessing a Core page when I am not signed into the Framework app. I have a Core controller that has an [Authorize] attribute; when I am logged into the Framework app, the page displays just fine, but when I am not logged in, instead of being redirected to the login page, I get the following exception (this is actually from a l

[2022-09-08 21:17] mjrousos commented on #195
Thanks, @pdunkerley, for reporting the issue. Based on the call stack, it seems like the ASP.NET Core app is having trouble deserializing the ClaimsPrincipal returned by the ASP.NET app. Are you able to provide more details about the identity object your ASP.NET app is using? Can you share an example list of claims (with anything sensitive redacted, of course)?

We've talked about making this proc

[2022-09-09 01:40] CZEMacLeod commented on #149
`HttpResponse.ApplyAppPathModifier` is used for cookieless session handling - so I don't think is in scope.

`FilePath` and `PathInfo`, other that the trivial implementation which would match MVC5 and WebApi2, don't quite seem to have an equivalent in AspNetCore. They only come into effect when a filetype in mapped to a handler in IIS, and that effectively becomes the 'script' that is running, and

[2022-09-09 09:25] pdunkerley commented on #195
Thanks for your reply @mjrousos.

Here is how I have set up the ASP.NET side (based on Rick Strahl's blog that I referenced in my previous post):

Startup.cs
[code]

This is the code in my sign in controller that gets called after I have successfully logged the user in via my own methods:

[code]

I can see this is working in so far as it creates the cookie (can see it in browser dev tools), and t

[2022-09-10 00:28] gumbarros commented on #111
@twsouthwick  I don't know if it's still relevant, but we open-sourced the library, now you can see what we are doing with Response.End for both .NET Frame and Core. (I also implemented pull request #137 while it don't release)

https://github.com/JJConsulting/JJMasterData

[2022-09-13 02:19] br3nt opened #199 "'HttpApplicationState' does not contain a definition for 'AddSystemWebAdapters'"
### Describe the bug

I am getting the error:

I am trying following along to the instructions provided in the following places:

* https://github.com/dotnet/systemweb-adapters/blob/v1.0.0-preview.3/docs/framework.md
* https://devblogs.microsoft.com/dotnet/incremental-asp-net-to-asp-net-core-migration/comment-page-2/#proxy-support

I have add the `Microsoft.AspNetCore.SystemWebAdapters` to my ASP.

[2022-09-13 02:29] br3nt commented on #199
I noticed that in [this SO question](https://stackoverflow.com/q/73401019/848668) the author is using

[code]

I have added this an it doesn't raise any warnings.

So, can I use that above code in replacement of what's in the documentation?:

[code]

[2022-09-13 03:55] br3nt opened #200 "'RemoteAppSessionStateOptions' does not contain a definition for 'RemoteApp' and 'ApiKey'"
### Describe the bug

I am getting the following two error messages:

and

I am trying to follow along to these guides:
* https://github.com/dotnet/systemweb-adapters/blob/v1.0.0-preview.3/docs/session-state/remote-session.md
* https://devblogs.microsoft.com/dotnet/incremental-asp-net-to-asp-net-core-migration/comment-page-2/#session-support

I am getting:

![image](https://user-images.githubuserc

[2022-09-13 04:20] br3nt commented on #200
Just looking at the commit history on the main branch, it seems this doc was updated after the release in commit 1ee4c893.

So, should the code actually look like this???:

[code]

[2022-09-13 05:31] br3nt commented on #199
Ok, so it seems that the docs were were updated between release v1.0.0-preview.3 and commit 9fc7391f.  That was really confusing.

Is it possible to do another release with those docs updates??  Maybe at 9fc7391f??  Though, it does look like there are some minor non-doc related changes between  v1.0.0-preview.3 and 9fc7391f.

[2022-09-13 05:39] br3nt commented on #200
Same comment as https://github.com/dotnet/systemweb-adapters/issues/199#issuecomment-1244919035.  A release containing the updated docs would be useful.

[2022-09-13 23:54] twsouthwick commented on #199
Yes, a new release is being planned in the near future. If you want to get the docs for the release you are using, please go to the tag for that release. Once we get a v1, things like that shouldn't change, but things are in flux for now.

[2022-09-13 23:54] #199 closed

[2022-09-13 23:55] twsouthwick commented on #200
As noted in #199, a new release should happen soon. Remember to checkout the tag for the release you are using to ensure you're using the up-to-date docs

[2022-09-13 23:55] #200 closed

[2022-09-14 01:23] br3nt commented on #199
Thanks for the response.  I was on the tag for that release (v1.0.0-preview.3).  The docs at that point don't match the API.  The docs were were progressively updated after the tag v1.0.0-preview.3, up until commit 9fc7391.

[2022-09-14 01:25] br3nt commented on #200
Thanks for the response. I was on the tag for that release (v1.0.0-preview.3). The docs at that point don't match the API. The docs were were progressively updated after the tag v1.0.0-preview.3, up until commit 9fc7391f.

Just leaving this note in case other peeps have the same issue as me.

[2022-09-14 03:05] twsouthwick commented on #200
Oh! Sorry about that. Good catch

[2022-09-14 06:31] br3nt opened #201 "500 (Internal Server Error) from RemoteAppSessionStateManager.GetSessionDataAsync()"
### Describe the bug

I am getting the following exception after setting up remote-session.

<pre>
System.Net.Http.HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at Microsoft.AspNetCore.SystemWebAdapters.SessionState.RemoteSession.RemoteAppSessionStateManager.GetSessionDataAsy

[2022-09-14 16:40] HaoK commented on #94
Added two tests for FormsAuth + MVCApp, filed https://github.com/aspnet/Tooling-ManualTests/issues/1679 for the CTI test scenarios

[2022-09-14 22:13] twsouthwick opened #202 "Consider moving some of the middleware into ASP.NET Core itself"
## Summary

Some of the middleware perform general goodness that would make sense in ASP.NET Core itself (and has been asked for a while)

Potential candidates include:

- Session middleware
- PreBufferRequestStream
- BufferResponseStream

[2022-09-14 22:15] twsouthwick commented on #201
I haven't seen this nor can I repro it. We're about to release rc1 with a number of fixes. If it still repros after that, please let us know. It will be easier to diagnose things in rc1 as well (logging will be available to be hooked up on the framework side)

[2022-09-15 02:10] br3nt commented on #201
Turns out the 500 error was because the Type I passed to `options.RegisterKey<string>("crumbs");` didn't match the serialized type for that session key.

I think I read somewhere that the newer API will have better error messages for this kind of thing.... or I could be mistaking it for the exceptions that will be raised if there are session keys that aren't mapped.

[2022-09-15 13:45] leandrotsampa opened #203 "Bug in Content-Type Response"
### Describe the bug
Any version after version 1.0.0-rc.1.22425.5 of packages is causing problens in response with Content-Type in ASP.NET Core.

In version 1.0.0-rc.1.22425.5 and below all is OK, localhost and in server, the Content-Type is like below:
![image](https://user-images.githubusercontent.com/13751549/190416151-82d31d85-a25c-49ad-98f6-6aa4a7fbb4d9.png)

But in any version after 1.0.0-rc

[2022-09-15 16:40] twsouthwick commented on #201
Ah, yes, that should be easier to diagnose in rc1. I'll close this for now - please reopen if needed.

[2022-09-15 16:40] #201 closed

[2022-09-16 00:25] CZEMacLeod commented on #149
@twsouthwick If you add `IHttpHandler` to the mix, it makes sense to map `FilePath` and `PathInfo` as they relate to the handler.
I did a quick version of `IHttpHandler` here https://github.com/CZEMacLeod/systemweb-adapters/tree/czemacleod/ihttphandler

This includes
- `IHttpHandler`
- `IHttpAsyncHandler`
- `IHttpHandlerFactory`
- `HttpContext.CurrentHandler`
- `HttpRequest.PathInfo`
- `HttpReques

[2022-09-16 01:24] CZEMacLeod opened #205 "Support for IHtmlString and HtmlString"
## Summary

Looking to add support for IHtmlString and HtmlString

## Motivation and goals

I currently have some conditional compiles to target netcoreapp / net48 to use the aspnetcore IHtmlContent or IHtmlString as a result on an interface. I would prefer to have a consistent interface and not have to multitarget if possible.

## In scope

Add `System.Web.IHtmlString` based on `Microsoft.AspNetC

[2022-09-16 01:44] CZEMacLeod commented on #146
@twsouthwick I've done an initial implementation of `IHttpHandler` (not `IHttpModule`) here https://github.com/CZEMacLeod/systemweb-adapters/tree/czemacleod/ihttphandler

I've mentioned this in #149 as it impacts and is related to a couple of the properties mentioned there.

There are a few things that I don't like in this implementation and could probably use some input - I currently use `HttpCon

[2022-09-16 14:57] twsouthwick commented on #140
Completed via https://github.com/dotnet/systemweb-adapters/pull/198.

Still waiting for final API review approval, anticipated be 9/16

[2022-09-17 19:00] melnikov77 opened #206 "Add HttpRequestBase.Form"
The `HttpRequest` already has `Form` property.

[2022-09-21 20:28] #203 closed

[2022-09-21 20:51] #140 closed

[2022-09-23 04:19] davidfowl commented on #164
I don't think we should do this. We don't want to change/extend this type at all.

[2022-09-23 07:16] davidfowl commented on #2
I wrote a sample here https://github.com/davidfowl/AspNetCoreOwinSample

[2022-09-26 16:23] mjrousos commented on #195
@pdunkerley, thanks for the additional information. The fact that this only happens when the user is *not* logged in is very interesting.

When the app tries to authenticate a user on the ASP.NET Core side, an HTTP request is sent to a dedicated endpoint on the ASP.NET app to retrieve the user's identity. The response from that backchannel request is processed by [`RemoteAppAuthenticationResultFac

[2022-09-27 09:08] GerardSmit commented on #42
FYI, there is a community project called `systemweb-adapters-ui` which is being developed by @twsouthwick: https://github.com/twsouthwick/systemweb-adapters-ui which uses the open-source WebForms code from https://github.com/Microsoft/referencesource/ and this project (`systemweb-adapters`).

[2022-09-27 16:37] birojnayak commented on #42
@GerardSmit thanks for the update.. @twsouthwick I will ping you in the original project repo...

[2022-09-27 16:40] twsouthwick commented on #42
Please note that that project is an experiment to explore what it would take to support webforms. That said, happy to see what people think

[2022-09-27 17:01] birojnayak commented on #42
@twsouthwick everything starts with small experiment

[2022-09-28 00:09] adityamandaleeka opened #210 "1.0 RC1 Release Checklist"
- [x] Ensure the `Version.props` has the `PreReleaseVersionLabel` updated to the next release/preview
- [x] Identify and validate the build on the `dotnet.systemweb-adapters` pipeline
- [x] Release the build
- [x] Tag the commit
- [x] Draft release notes
- [x] Update samples to use updated package versions
- [x] Publish the docs
- [x] Publish release notes
- [x] Close the [old milestone](https://g

[2022-09-28 15:19] Tratcher commented on #210
https://dev.azure.com/dnceng/internal/_build/results?buildId=2005344&view=artifacts&pathAsName=false&type=publishedArtifacts
Package versions 1.0.0-rc.1.22477.1

[2022-09-28 16:38] twsouthwick commented on #146
@CZEMacLeod thanks for exploring this! I also have a branch that does this for [handlers](https://github.com/dotnet/systemweb-adapters/tree/tasou/http-handlers) and another one that builds on it for [modules](https://github.com/dotnet/systemweb-adapters/tree/tasou/http-application).

The fundamental difference in our approach appears to be that you're using middleware to execute the handlers while

[2022-09-28 19:00] CZEMacLeod commented on #146
I have a couple of async handlers (mainly generating custom favicons with caching) but I think they could probably be replaced fairly easily with an endpoint or controller; especially with output caching.

I have a couple of modules, one which could probably be replaced with startup.cs/program.cs which does a lot of assembly scanning to load components and register compiled mvc5 razor libraries an

[2022-09-29 12:07] CZEMacLeod commented on #146
@twsouthwick I am less familiar with endpoint features in aspnetcore 6, but this looks good. I'm not sure how the handling of registering wildcard paths and handling pathinfo would work in your version. Perhaps you could include versions of that in the examples? It would be nice to get the upgrade wizard to translate `web.config` `handlers` to endpoint registration down the road.

I think that add

[2022-09-29 19:33] mtaylorfsmb opened #212 "Migrate Controller/Class/View doesn't do anything"
### Describe the bug
I installed the extension. Then I opened a solution that has a .NET 4.7.2 Web API project and selected the Migrate option. I opted to create a new project. It ran for a little bit, configured YARP, etc and then showed me the summary page.

I now have the option to migrate controller/class/view. However the dropdowns are all empty. The text says to migrate from Solution Explore

[2022-09-29 23:21] abpiskunov commented on #212
Thanks for reporting the issue! We can repro it now and working on the fix.

[2022-09-30 00:19] abpiskunov commented on #212
@mtaylorfsmb we could repro the case when controller is API controller and it is not doing anything. However you mentioned that when you right click on just a class it did not do anything also? Or when you open Migrate Class dialog from the Migrations page it did not have any classes in the list (or you meant no controllers in the list)?

[2022-09-30 13:48] mtaylorfsmb commented on #212
@abpiskunov Sorry for the confusion. Yes, when you click `Migrate Controller` nothing shows up (presumably because it doesn't see any API controllers). `Migrate Class` shows all the types in the project correctly.

As an aside note that the migration UI says to use SE to select the controller/class/view you want to migrate. But when you do that on an API controller it just sends you back to the mi

[2022-09-30 14:20] abpiskunov commented on #212
@mtaylorfsmb thanks for clarification. Yes, that is what I see here too. Api controllers support is coming very soon.

[2022-09-30 15:38] tbertenshaw opened #214 "API changes for rc1: documentation and blogpost examples don't compile"
Updated documentation for Rc1 seems syntactically incorrect.

I'm using remote authentication.

The initial [blogpost  ](https://devblogs.microsoft.com/dotnet/migrating-from-asp-net-to-asp-net-core-part-4/) references
`AddJsonSessionKeySerializer`
 Intellisense doesn't recognise this method but does like `AddJsonSessionSerializer`. Is this the correct method?

Also in [remote auth documentation](h

[2022-09-30 15:43] twsouthwick commented on #23
While thinking about this some more, I realized an additional challenge.  Users will most likely be using `System.Configuration.ConfigurationManager.AppSettings` to grab the values throughout the code. This makes anything to use `Microsoft.Extensions.Configuration` more work in the migration process and potentially difficult to update all the code.

In order to help, we may want to initially ensur

[2022-10-01 14:00] tbertenshaw commented on #214
Seems also to be another dependancy issue :(
![image](https://user-images.githubusercontent.com/2010002/193413124-ee4e8623-8e5d-4eb3-9a6c-b127bdb3f4bb.png)

[2022-10-01 20:15] changetol8 opened #215 "Incorrect Code of conduct link"
I found not working Code of Conduct link in CONTRIBUTING.md

[2022-10-03 09:50] CZEMacLeod opened #218 "Consider supporting VirtualPathProvider and associated infrastructure"
## Summary

Consider supporting `VirtualPathProvider` and associated classes: `HostingEnvironment`, `VirtualFileBase`, `VirtualFile`, and `VirtualDirectory`.
In ASP.NET Core, support `VirtualPathProvider` as an `IFileProvider` to allow StaticFiles to use `VirtualPathProvider`s.
Wrap the `WebRootFileProvider` as a `VirtualPathProvider` as the root provider to replace the MapPath based provider.
Con

[2022-10-03 10:57] CZEMacLeod commented on #26
I have done an implementation of `CacheDependency` that is available [here](https://github.com/CZEMacLeod/systemweb-adapters/tree/czemacleod/cache).
I haven't added tests yet, but can look into what tests can be done if you want to add the code.
I have tested it with 'real' code though and it works as intended.

[2022-10-03 12:00] ahazelwood opened #219 "Proxied Urls must point to a page, not a directory to work correctly"
### Describe the bug
I am attempting to use the Strangler Fig pattern with the yarp proxy serving as the entry-point into a IIS hosted asp.net webforms project.  Some of the paths point to directories **/dir** or **/dir/** which have a **default.aspx** or **default.cshtml** file in them.  Under IIS, the content from the file is returned correctly.  Using the yarp proxy, a error is returned.  Point

[2022-10-03 16:53] #215 closed

[2022-10-03 16:58] twsouthwick commented on #214
@tbertenshaw Looks like a couple of issues here:

1. `AddJsonSessionSerializer` is what you want
2. `AddRemoteApp` should be `AddRemoteAppClient`

The docs were updated, but apparently some got an interim fix instead of the final. I'll leave this open to identify that.

This warning is saying you are referencing 4.6.0 directly of the library, but we're referencing v6.0.0 indirectly. You can either

[2022-10-05 20:52] adityamandaleeka commented on #219
@ahazelwood Can you share the error you're seeing and how your proxy is configured (in launchsettings.json)?

Can you also check whether your PathBase is the same between the Framework and Core apps?

If you can create a GitHub repo that contains a minimal app that demonstrates the problem, that would be ideal.

[2022-10-05 20:57] #210 closed

[2022-10-06 09:33] melihceyhan commented on #206
Will this property be added?

[2022-10-07 07:34] duncansmart opened #221 "RemoteAppClientOptions.BackchannelHandler should be a factory method"
I've called `AddRemoteAppClient` like so:

    services.AddSystemWebAdapters()
        .AddRemoteAppClient(options =>
        {
            options.BackchannelHandler = new MyBackChannelHandler();
        }

Where _BackChannelHandler_ is basically just a HttpClientHandler with some logging. But a few times during testing I've got an `ObjectDisposedException: cannot access a disposed object. object

[2022-10-07 08:45] duncansmart commented on #221
Also, according to [the ConfigurePrimaryHttpMessageHandler docs](https://learn.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.httpclientbuilderextensions.configureprimaryhttpmessagehandler) remarks "_The configureHandler delegate should return a **new instance** of the message handler **each time it is invoked**_".

My workaround for now is to "manually" build the services

[2022-10-07 13:16] ahazelwood commented on #219
I created a local project where this did work correctly.  I will need to spend more time on my end to see if I can track down what may be preventing this in our production web forms instance.

[2022-10-07 17:43] adityamandaleeka commented on #219
Ah, I see. Good luck figuring it out (and let us know if it ends up being something we should improve in documentation!).

[2022-10-08 22:19] gerneio commented on #53
Anyone successfully setup systemweb-adapters w/ Blazor? I know Cocoon has a sample using their tooling (as mentioned by @danroth27), however would be nice for the officially supported migration tooling to at least document a route for this, even if manual. Blazor is 100% our future and the only compelling reason for us migrate from web froms/framework to core.

[2022-10-10 02:48] johnLwith opened #222 "Missing HttpCapabilitiesBase.IsMobileDevice Property"
## Summary

In System.Web.dll, we use [IsMobileDevice](https://learn.microsoft.com/en-us/dotnet/api/system.web.configuration.httpcapabilitiesbase.ismobiledevice?view=netframework-4.7.2) Property on `HttpBrowserCapabilities` class. but it looks missing in `Microsoft.AspNetCore.SystemWebAdapters` package.

In `BrowserCapabilitiesFactory.cs` looks assigned, see below fig.

![image](https://user-image

[2022-10-11 16:48] HaoK commented on #94
Resolved by https://github.com/aspnet/AspNetCore-ManualTests/pull/1639#pullrequestreview-1137849001

[2022-10-11 16:48] #94 closed

[2022-10-11 22:44] danroth27 opened #224 "Provide a way to migrate code that still allows using git diff tooling to see what was changed"
One of the downsides of upgrading an app by migrating code to a new project is that you lose the ability to see what code changes were made by the tooling using source code diff tooling like `git diff`. Could we have a way for the developer to create a commit before the code changes are applied so that they can diff the before and after state of the code?

@sayedihashimi @antonfirsov

[2022-10-11 22:48] danroth27 opened #225 "Support migrating class libraries to .NET Standard class libraries"
Currently we only support migrating class libraries to target .NET 6 or .NET 7:

![image](https://user-images.githubusercontent.com/1874516/195212252-a9f6ec98-e10f-4c4d-ad46-ef8e88ccf289.png)

We should support migrating class libraries to .NET Standard so that the migrated library can be shared with both the old and new projects.

@abpiskunov  @sayedihashimi

[2022-10-11 22:58] danroth27 commented on #225
Could we also use type forwarding to preserve type identity after migrating code to .NET ?

[2022-10-12 02:43] br3nt opened #226 "'ISystemWebAdapterBuilder' does not contain a definition for 'AddJsonSessionKeySerializer' (1.0.0-rc.1.22477.1)"
### Describe the bug

For Microsoft.AspNetCore.SystemWebAdapters.CoreServices version 1.0.0-rc.1.22477.1.

Following along with [Configuration Changes section of Migrating from ASP.NET to ASP.NET Core (Part 4)](https://devblogs.microsoft.com/dotnet/migrating-from-asp-net-to-asp-net-core-part-4/#configuration-changes), the following error message is presented:

![image](https://user-images.githubus

[2022-10-12 02:51] br3nt commented on #226
It's meant to be `AddJsonSessionSerializer`

[2022-10-12 06:42] br3nt opened #228 "Remote authentication not working as expected"
### Describe the bug

I have followed the incremental migration blog post series.

The setup correctly proxies to pages from the ASP.NET MVC application.  I am able to login and navigate the existing site as an authenticated user.  I can also see remote session variables are being requested successfully and accessible in ASP.NET Core MVC controller actions.

When I protect an endpoint in the ASP.N

[2022-10-12 20:48] zsharp-gls commented on #228
Hi! I just ran into this as well. I don't have a fix, but I think I'm one step nearer to a solution.

I noticed that when I hit the `RemoteAppAuthenticationHttpHandler.ProcessRequest()`, there's only one cookie: `__RequestVerificationToken`. But then when I'm in `AccountController.Login()`, there are 3 cookies: `__RequestVerificationToken`, along with `ASP.NET_SessionId` and `MYAPPAUTH` (which com

[2022-10-12 20:50] zsharp-gls commented on #228
Maddeningly, just after I sent that I opened a tool to inspect the requests as they moved through my system and the cookies started appearing! I can't give any concrete advice with that - it continues to work with the tool closed. But with those cookies sending, I'm no longer getting the error

[2022-10-12 23:16] br3nt commented on #228
Hi @zsharp-gls.  Nice to have some company :)

I also have a one cookie when `RemoteAppAuthenticationHttpHandler.ProcessRequest()` but it has a different name, `_ga`.  I'm not sure how a google analytics cookie gets to hang around if that's what it is.

A normal authenticated request has lots of cookies set:

* `.AspNetCore.Antiforgery.4_99IRX4FZI`
* `.AspNetCore.Antiforgery.kAf4-Q45_vg`
* `.AspNe

[2022-10-13 00:28] br3nt commented on #228
I have used the "Open Browser" button in Telerik Fiddler to inspect the traffic.

There is no difference in the cookies when navigating to a page from the .NET app vs from `/UserInfo` in the .NET Core app:
* `.ASPXAUTH`
* `__RequestVerificationToken`
* `_ga`
* `_gat`
* `_gid`
* `ASP.NET_SessionId`

In `RemoteAppAuthenticationHttpHandler.ProcessRequest()`, `context.User.Identity.IsAuthenticated` re

[2022-10-13 06:43] br3nt commented on #228
So, I've started debugging the .Net Core side of things.

The response returned to `RemoteAppAuthenticationService.AuthenticateAsync()` from `/systemweb-adapters/authenticate` has the following:

* StatusCode - 302 Found
* Location - /Account/Login?ReturnUrl=%2fsystemweb-adapters%2fauthenticate%3foriginal-url%3d%252FUserInfo&original-url=%2FUserInfo

This is an unexpected response as `RemoteAppAut

[2022-10-13 20:00] zsharp-gls commented on #228
I also faced this, and had good luck using VS's External Sources for debugging on the ASP.NET Core side: https://devblogs.microsoft.com/visualstudio/debugging-external-sources-with-visual-studio/

[2022-10-13 20:22] zsharp-gls commented on #228
Yes, cookies are one of the headers listed in the `_options.RequestHeadersToForward` list in the `RemoteAppAuthenticationService`.

I looked closer at the cookie header that the .NET Framework app is receiving (in `RemoteAppAuthenticationHttpHandler.ProcessRequest()`).

When it's not working, `context.Request.Cookies` has one entry, with key `"__RequestVerificationToken"` and value `"A8LL0oSrx4T3i

[2022-10-13 20:56] adityamandaleeka commented on #228
@br3nt @zsharp-gls Thanks for reporting this and doing some debugging! We'll take a look.

[2022-10-13 21:00] #226 closed

[2022-10-14 01:12] abpiskunov commented on #224
interesting idea, need to think about the flow.. So far it sounds pretty fragile: git commit should happen right after files copied in the middle of migration, what if user had some other pending changes? Commit should happen automatically I assume.
Instead of git commit, could we just have a diff window pointing to new and old files? e could reuse some roslyn diffing infrastructure I hope to poin

[2022-10-14 06:24] br3nt commented on #228
@adityamandaleeka  @mjrousos have you had any success?

I have continued trying to look into this issue.

The problem of the Cookie header format was logged here: https://github.com/dotnet/aspnetcore/issues/22351
That issue was closed because it was stale rather than actually being resolved.
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cookie and https://httpwg.org/specs/

[2022-10-14 10:41] dazinator commented on #228
Just chucking an alternative approach out here: you could allow your asp.net core app to understand the forms authentication cookie natively and login  / restore the claims principal from it, without having to do remote proxy auth. You can do that with this library I made: https://github.com/dazinator/AspNetCore.LegacyAuthCookieCompat

[2022-10-14 13:39] mjrousos commented on #228
@br3nt, I think you're right that the issue is the cookie delimiter. It seems that HttpClient is incorreclty delimiting with , instead of ;. There was actually [a similar workaround](https://github.com/microsoft/reverse-proxy/blob/c82a4a950417e7966447daeb2a333d19a87d722a/src/ReverseProxy/Forwarder/RequestUtilities.cs#L281-L291) needed in our YARP code.

That same code change is likely to address t

[2022-10-14 16:13] Tratcher commented on #228
Note we tracked this down to an HTTP/2 bug in Kestrel and fixed it in .NET 7. We'll add a workaround here for prior versions.

[2022-10-14 19:18] #228 closed

[2022-10-14 22:43] danroth27 commented on #224
I don't think we want to create a git commit for the developer. But maybe we should have a way to move over the files and apply code transformations using two separate gestures so the user can add a source control commit in between?

[2022-10-17 09:53] johnLwith commented on #222
https://github.com/dotnet/systemweb-adapters/pull/230

[2022-10-19 20:41] adityamandaleeka commented on #219
Closing this for now... feel free to open a new issue if you discover something is wrong in our code.

[2022-10-19 20:41] #219 closed

[2022-10-20 20:35] mjrousos commented on #221
Thanks for the report and investigation, @duncansmart. As you noted, getting a singleton HttpMessageHandler for use with HttpClientFactory configuration is incorrect. In this case, though, the HTTP configuration from `RemoteAppClientOptions` doesn't really need to come from a factory since it won't change and we can just use a singleton HttpClient. I'll get a fix together and open a PR.

[2022-10-21 20:46] #221 closed

[2022-10-25 18:44] #214 closed

[2022-10-25 21:05] twsouthwick commented on #222
Thanks @johnLwith

[2022-10-25 21:05] #222 closed

[2022-10-26 09:21] dazinator commented on #228
For anyone looking for alternative options, I believe @br3nt has got this working now using native forms authentication for .net core rather than remote proxy auth - based on his updates here (of course which I am quite proud, because re-implementing legacy forms auth with all of it's varying modes is not trivial):
https://github.com/dazinator/AspNetCore.LegacyAuthCookieCompat/issues/30

There are

[2022-10-26 20:58] adityamandaleeka commented on #98
@Rick-Anderson Can you please help us get our content for these migration adapters/story onto the official docs? cc: @danroth27

[2022-10-26 21:35] Rick-Anderson commented on #98
@adityamandaleeka  we can jump on this right after .NET 7 GA. Can I transfer this issue to https://github.com/dotnet/AspNetCore.Docs/issues ?

[2022-10-26 23:32] adityamandaleeka commented on #98
A copy would be great just so we continue to track it on our 1.0 milestone. Thanks Rick!

[2022-10-27 01:19] Rick-Anderson commented on #98
https://github.com/dotnet/AspNetCore.Docs/issues/27405

[2022-11-01 18:39] CZEMacLeod commented on #205
@twsouthwick I like this approach, however it does affect some fairly fundamental bits of both dotnet runtime and aspnetcore - while it would probably be the best overall solution (and possible address the issue with `HtmlEncode` too), I didn't feel it was within scope to request that level of changes - especially as it goes outside the scope of this project.

Should I raise an issue on dotnet/run

[2022-11-02 20:39] adityamandaleeka commented on #158
Triage: let's comment out the fallback app config (something like this but you'll have to check the comment style):

[code]

[2022-11-02 20:40] adityamandaleeka commented on #158
@abpiskunov ^

[2022-11-02 20:52] adityamandaleeka commented on #98
@Rick-Anderson Do you have an estimate of how long it will take to get these docs ready? I know you said you'll start after .NET 7 GA but just curious when we can expect them to be ready (we're trying to plan out a release date for 1.0).

[2022-11-02 21:19] Rick-Anderson commented on #98
I can get Incremental [ASP.NET to ASP.NET Core Migration](https://github.com/dotnet/systemweb-adapters/tree/main/docs) published in one day. With my other obligations, it might take two weeks to reconcile with [Migrate from ASP.NET to ASP.NET Core](https://learn.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/) partially because [Migrate from ASP.NET to ASP.NET Core](https://learn.microsoft

[2022-11-04 13:48] mjrousos commented on #195
@pdunkerley, looking at this issue again, I have a theory about what could be happening.

To summarize what we know so far:

The problem seems to be that when the ASP.NET Core app's `RemoteAppAuthenticationResultFactory` makes a request to the ASP.NET app's */systemweb-adapters/authenticate* endpoint, it assumes that getting back a 200 status code means that there's a serialized `ClaimsPrincipal`

[2022-11-08 22:59] timmydo commented on #96
I just tried this out: https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md to track down the usage:

[code]

I've found about 10 usages in the csproj I'm working on now. Will scan the other 2k csprojs and see how bad it gets.

[2022-11-09 22:11] adityamandaleeka commented on #98
Thanks @Rick-Anderson. Any ETA on the move of https://github.com/dotnet/systemweb-adapters/tree/main/docs now that .NET 7 has GA'd? :smile:

Let us know if any questions arise during that move.

FWIW we're planning to release 1.0 GA when the docs are ready.

[2022-11-09 22:37] Rick-Anderson commented on #98
This week.

[2022-11-09 23:14] Rick-Anderson commented on #98
@adityamandaleeka  can I get a few contacts? I'm replacing `External Traffic` with something more appropriate. Web requests?

[2022-11-09 23:40] adityamandaleeka commented on #98
"Incoming requests" perhaps?

As for contacts, @mjrousos @twsouthwick @Tratcher @HaoK @danroth27 are all aware this docs move is happening and I'm sure they'd be happy to discuss stuff like that.

@abpiskunov and @sayedihashimi can answer things related to the VS extension side of the migration story.

[2022-11-10 00:03] mjrousos commented on #98
Yep, incoming requests makes sense to me.

[2022-11-16 20:57] adityamandaleeka commented on #98
@Rick-Anderson can we get an updated ETA on this? Still waiting on this for the 1.0 release.

[2022-11-16 21:47] adityamandaleeka opened #239 "1.0 GA Release Checklist"
- [x] Ensure the `Version.props` has the `PreReleaseVersionLabel` updated to the next release/preview (@adityamandaleeka) - https://github.com/dotnet/systemweb-adapters/pull/241
- [x] Identify and validate the build on the `dotnet.systemweb-adapters` pipeline (@twsouthwick)
- [x] Release the build (@adityamandaleeka)
- [x] Tag the commit (@adityamandaleeka)
- [x] Draft release notes (@adityamandal

[2022-11-16 21:52] Rick-Anderson commented on #98
Hopefully this week

[2022-11-16 21:57] adityamandaleeka commented on #239
Release notes should include a delta of what's changed from RC1, as well as a link to the announcement blog post.

[2022-11-21 22:50] adityamandaleeka commented on #239
PR for updating version to 1.1 Preview 1 https://github.com/dotnet/systemweb-adapters/pull/241

[2022-11-28 22:18] timmydo opened #244 "PlatformNotSupportedExceptions in NoGetByIntNameValueCollection should be augmented with banned api analyzer"
### Describe the bug
Migrations utilizing NoGetByIntNameValueCollection should also utilize a banned api analyzer to help prevent runtime exceptions.

### Exceptions (if any)
Platform not supported exception

### Further technical details

https://github.com/dotnet/roslyn-analyzers/blob/main/src/Microsoft.CodeAnalysis.BannedApiAnalyzers/BannedApiAnalyzers.Help.md

something like this for the banne

[2022-11-29 00:19] twsouthwick opened #246 "Consider how to migrate applications using Windows auth"
## Summary

There should be some way to handle Windows auth, or at least documentation to direct users how to migrate.

## Motivation and goals

The remote app setup allows for sharing some remote authentication schemes. However, Windows auth does not currently work in this set up. We should identify how to direct users in situations like this.

[2022-11-30 00:42] adityamandaleeka commented on #239
Docs are up: https://learn.microsoft.com/en-us/aspnet/core/migration/inc/overview?view=aspnetcore-7.0

[2022-11-30 21:36] adityamandaleeka commented on #98
Most of this is done, still need to reconcile the new docs with https://learn.microsoft.com/en-us/aspnet/core/migration/proper-to-2x/?view=aspnetcore-6.0

Also need to remove the docs from this repo since we don't want to maintain two copies.

[2022-11-30 21:50] adityamandaleeka commented on #244
@timmydo To help us decide whether something like this should be opt-out or opt-in, can you let us know how commonly you find false positives when enabling this in your build?

[2022-11-30 23:01] Rick-Anderson opened #248 "Remove systemweb-adapters/tree/main/docs"
- [ ]  Update readme with link to https://learn.microsoft.com/en-us/aspnet/core/migration/inc/overview and remove documentation at https://github.com/dotnet/systemweb-adapters/tree/main/docs
- [ ] Remove other doc's in this repo
- [x]  https://github.com/dotnet/AspNetCore.Docs/issues/27801

[2022-11-30 23:01] Rick-Anderson commented on #98
see #248